@import './../../../../assets/styles/settings/breakPoints';
@import './../../../../assets/styles/tools/index';
.user {
    display: flex;
    &__block-image{
        width: 375px;
        overflow-x: hidden;
    }

   &__block-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
        @include to($breakpoint-sm) {
            width: calc(100% - 20px);
            flex-shrink: 0;
        }
    }
}

.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px
    }
}
.lh-1-5{
    line-height: 1.5
}