<div class="col1-app">

  <div class="user ">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb h-100p left-bar" perfectScrollbar>
        <div class="p-10 mB-20 card m-5">
          <h5 class="m-0">Santander Casa 3</h5>
          <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
            Vila Prudente - São Paulo - Br</p>
          <div>
            <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
          </div>
        </div>
        <div class="p-10 card m-5">
          <h5 class="m-0">Santander Casa 3</h5>
          <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
            Vila Prudente - São Paulo - Br</p>
          <div>
            <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
          </div>
        </div>
        <div class="pT-20 mT-20 pos-r">
          <section class="menu-divider divider-top bdT w-100"><span class=" bgc-grey-100">Skils</span></section>
        </div>
        <div>
          <p class=" m-0 lh-1-5 fsz-sm p-10 card m-5">
            <b>NodeJs <br>
              NodeJs <br>
              NodeJs <br>
              NodeJs <br>
              NodeJs <br>
              NodeJs <br>
              NodeJs <br>
            </b></p>
        </div>

      </div>


    </div>
    <div class="user__block-form jc-c">
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-20">
          <div class="content-header__title">
            <div class="peers">
              <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <div>
                <h3 class="mB-0">Santander Casa 3 <span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <button class="modal-toogle btn btn-muted-success peers ai-c  m-5 bdrs-2 cur-p" type="button">
            Salvar
          </button>
        </div>
      </div>
      <div class="ps psb peers jc-c row" perfectScrollbar>
        <!--<div class="row scrollable h-100p peers jc-c">-->
        <div class="col-md-8">
          <div class="form-group col-md-12 mT-20 mB-0 p-0">
            <h4 class="m-0 mB-10">Dados de contato</h4>
          </div>
          <div class="mY-30 form-row">
            <div class="form-group col-md-12">
              <mat-form-field class="w-100p">
                <input type="text" ngModel matInput placeholder="Nome" name="inputName" #inputDescription="ngModel"
                  required>
              </mat-form-field>
              <app-errors [control]="inputDescription"></app-errors>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field class="w-100p">
                <input type="text" mask-number [mask]="'999.999.999-99'" ngModel matInput placeholder="CPF" name="inputDocument"
                  #inputDocument="ngModel" required>
              </mat-form-field>
              <app-errors [control]="inputDocument"></app-errors>
              <!--<input class="form-control" name="inputDocument" placeholder="CPF" value="333.333.333-33" type="text">-->
            </div>
            <div class="form-group col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data de nascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group col-md-6">
              <mat-form-field class="w-100p">
                <input type="text" ngModel matInput placeholder="RG" name="inputDocument2" #inputDocument2="ngModel"
                  disabled>
              </mat-form-field>
              <app-errors [control]="inputDocument2"></app-errors>
            </div>
            <div class="form-group col-md-12">
              <mat-form-field class="w-100p">
                <input type="text" ngModel matInput placeholder="Profissão" name="inputOccupation" #inputOccupation="ngModel"
                  required>
              </mat-form-field>
              <app-errors [control]="inputOccupation"></app-errors>
            </div>
            <div class="form-group pX-10 mB-10 col-sm-12 w-100p">
              <div class="p-0 w-100p">
                <label>Estado civil</label>
              </div>
              <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" [value]="'Solteiro'">
                  Solteiro
                </mat-radio-button><br>
                <mat-radio-button class="example-radio-button" [value]="'Casado'">
                  Casado
                </mat-radio-button><br>
                <mat-radio-button class="example-radio-button" [value]="'Divorciado'">
                  Divorciado
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="form-group col-md-12">
              <label for="inputStreet">Endereço</label>
              <input class="form-control" name="inputStreet" placeholder="Endereço" required="" type="text">
            </div>
            <div class="form-group col-md-12">
              <label for="inputNumber">Número</label>
              <input class="form-control" name="inputNumber" placeholder="Numero" required="" type="text">
            </div>

            <div class="form-group col-md-12">
              <label for="inputComplement">Complemento</label>
              <input class="form-control" name="inputComplement" placeholder="Comnplemento" required="" type="text">
            </div>
            <div class="form-group col-md-12">
              <label for="inputNeighborhood">Bairro</label>
              <input class="form-control" name="inputNeighborhood" placeholder="Bairro" required="" type="text">
            </div>
            <div class="clearfix"></div>
            <!--<div class="form-group ta-c col-md-12">
                      <button class="btn btn-success" type="button">Salvar alteração</button>
                  </div>-->

          </div>

        </div>
      </div>
    </div>

  </div>


</div>