.table-header, .table-body {
    display: flex !important;
    flex-flow: row;
  }
  .table-header{
    border-bottom-width: 2px !important;
    color: #717D94;
    font-weight: 600;
    margin-bottom: 10px
  }
  