.left-bar {
    min-width: 265px;
    flex-shrink: 0;

}
#collapsed-content {
    width: 15px;
    transition: all 0.15s ease-out;
    &.is-collapsed{
        width: 285px;
        flex-shrink: 0;
    }
}
#left-bar-toggle-button {
    margin-left: -40px;
    cursor: pointer;
    width: 25px;
    height: 25px;
   padding: 0;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   color: $client-default;
   box-shadow: 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
   border-radius: 20px;
   border: none;
   transition: all 0.15s ease-out;
   &:hover {
    background: $client-default;
    color: #fff;
   }
   &:before{
    font-size: 19px;
    line-height: 19px;
    content: 'menu';
    font-family: 'Material Icons';
   }
   &:focus,:active {
    border: 0;
    outline: none;
    box-shadow: 0px 0px 1px 2px rgba($client-default, 0.45);
   }
}
.btn-is-collapsed {
    &:before{
        content: 'chevron_left' !important;
        font-family: 'Material Icons';
        font-size: 19px;
        line-height: 19px;
       }
   }