.col1-app {
    display: flex;
    height: 100%;
    width: 100%;
    &__wrapper {
        margin: 0;
        padding: 0;
        overflow: auto;
        height: 100%;
        width: 100%;
        padding: 0 20px;
    }
    &__side-details {
        position: fixed;
        display: flex;
        z-index: map-get($z-index, 'sidebar');
        right: -450px;
        width: 450px;
        height: calc(100% - 65px);
        transition: all 0.3s ease-in-out;
        @include to($breakpoint-sm) {
            z-index: map-get($z-index, 'sidebar');
            width: 100%;
            right: -100%;
        }
    }
    &.details-active {
        .col1-app__side-details {
            right: 0;
        }
    }
}

.col1-list {
    position: relative;
    padding: 0;
    width: 100%;
    overflow-y: hidden; // background-color: $default-white;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.mobile-scroll {
    @include to($breakpoint-sm) {
        overflow: auto;
        height: calc(100% -  #{$header-height});
    }
    &__inner {
        @include to($breakpoint-sm) {
            display: block !important
        }
    }
}