<div class="col1-app">

  <div class="reports">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb h-100p left-bar w-100p m-5" perfectScrollbar>
        <h5 class="mB-0 pY-10 pX-20">Relatório Janeiro</h5>
        <div class="peers jc-sb pY-10 pX-20">
          <p class="c-grey-700 m-0 lh-1-5 fsz-xs mR-10 report-footer-label">Total de despesas neste relatório</p>
          <h3 class="m-0">R$ 550,00</h3>
        </div>
        <div>
          <div class="pX-20 pT-20  pos-r">
            <section class="menu-divider divider-top bdT w-100"><span class="bgc-grey-100">Indicadores</span></section>
          </div>
          <div class="pX-20">
            <h5 class="m-0">Santander Casa 5</h5>
            <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
              Vila Prudente - São Paulo - Br</p>
            <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
          </div>
        </div>
      </div>
    </div>
    <div class="reports__block-form jc-c bgc-white">
      <!-- Atendimentos -->
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left  mL-20">
          <div class="content-header__title">
            <div class="peers">
                <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <button class="open-details btn btn-clear peers ai-c pX-5 pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary"
                type="button" [routerLink]="['../']">
                <i class="fa fa-arrow-left fsz-xl"></i>
              </button>
              <div>
                <h3 class="mB-0">Relatório Janeiro <span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <div class="status-indicator pending mB-10"><span>Pendente</span></div>
              </div>
            </div>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <div class="ta-c lh-1">
            <div class="peers">
              <button class="btn btn-success peers p-5 ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
                <i class="material-icons fsz-sm"> thumb_up_alt </i>
              </button>
              <button class="btn btn-danger peers p-5 mR-5 ai-c pX-5 bdrs-2 cur-p" type="button">
                <i class="material-icons fsz-sm"> thumb_down_alt </i>
              </button>
              <button class="btn btn-warning peers p-5  ai-c pX-5 bdrs-2 cur-p c-grey-900 " type="button">
                <i class="material-icons fsz-sm">remove_red_eye </i>
              </button>
            </div>
            <span class="fsz-xs">Aprovar todos</span>
          </div>
        </div>
      </div>

      <!-- content scroll -->
      <!--<div class="scrollable h-100p mY-10 mX-10">-->
      <div class="ps psb" perfectScrollbar>
        <div class="w-100p p-20">
          <div class="peers jc-c">
            <div class="card report-block m-10 p-10" *ngFor="let i of [1,2,3,4,5,6,7,8,910,11,12,13,14,15,16]">
              <div class="peers jc-sb">
                <div class="pX-20">
                  <p class="m-0 lh-1-5">
                    <span class="m-0 c-grey-700 fsz-sm ">10-10-2018 12:00</span><br>
                    Relatório Janeiro <br></p>
                </div>

                <div class="peers">
                  <div>
                    <div class="status-indicator pending mB-10"><span>Pendente</span></div>
                    <h4>R$ 536,00</h4>
                  </div>
                  <div class="mL-10">
                    <button class="btn btn-muted-warning c-grey-900  peers ai-c bdrs-2 p-5 cur-p mB-5" type="button">
                      <i class="material-icons fsz-xs">
                        remove_red_eye
                      </i>
                    </button>
                    <button class="btn btn-muted-danger  peers ai-c bdrs-2 p-5 cur-p mR-5" type="button">
                      <i class="material-icons fsz-xs">
                        thumb_down_alt
                      </i>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>



          <!-- Atendimentos -->

        </div>
      </div>
    </div>
  </div>
</div>