<div class="peers ff-c">
  <div class="peers w-100p ai-c jc-sb content-header">
    <h3>Filtro</h3>
    <div class="btn-group gap-10 jc-c ai-c peers" role="group">
      <button class="modal-toogle btn btn-outline-danger peers ai-c  m-5 bdrs-2 cur-p"
        type="button"  (click)="cancel()"><i class="fa fa-times fsz-md"></i></button>
      </div>
  </div>
  <div style="height: 100%;"> <input type="text"> </div>

  <button type="button">fechar</button>
</div>