<div class="col1-app">

  <div class="user">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb peers jc-c h-100p left-bar" perfectScrollbar>
        <div class="card m-5">
          <div class="profile-image">
            <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
          </div>

          <div>
            <div class="p-20">
              <h5 class="m-0 ta-c">Mateus Vigilío de Carvalho</h5>
              <div class="ta-c">
                <span class="badge badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>

            <div class="status bdT bdB">
              <div class="ta-c status__content bdR pY-10">
                <h3 class="m-0">500</h3>
                <p class="m-0 c-client-secondary">Despesas</p>
              </div>
              <div class="ta-c status__content pY-10">
                <h3 class="m-0">500</h3>
                <p class="m-0 c-client-secondary">Despesas</p>
              </div>
            </div>
            <div class="p-20">
              <ul>
                <li>
                  Rua Ramos Batista 198
                </li>
                <li>
                  Vila Prudente - São Paulo - Br
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    </div>
    <div class="user__block-form jc-c">
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-20">
          <div class="content-header__title">
            <div class="peers">
                <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <button class="btn btn-clear peers ai-c pX-5 pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary"
                type="button" [routerLink]="['../']">
                <i class="fa fa-arrow-left fsz-xl"></i>
              </button>
              <div>

                <h3 class="mB-0">Mateus Vigilío de Carvalho <span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <button class="modal-toogle btn btn-muted-success peers ai-c  m-5 bdrs-2 cur-p" type="button">
            Salvar
          </button>
        </div>
      </div>

      <div class="card m-20 h-100p">
        <div class="ps psb peers jc-c" perfectScrollbar>
          <!--<div class="row scrollable h-100p peers jc-c">-->
          <div class="col-md-12 form-row mY-20">
            <div class="col-lg-6 p-15 form-row">
              <div class="col-md-12 mB-0 p-0">
                <h4 class="m-0 mB-10">Dados de Pessoais</h4>
              </div>
              <div class="col-md-12">
                <mat-form-field class="w-100p">
                  <input type="text" ngModel matInput placeholder="Nome" name="inputName" #inputDescription="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputDescription"></app-errors>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100p">
                  <input type="text" mask-number [mask]="'999.999.999-99'" ngModel matInput placeholder="CPF" name="inputDocument"
                    #inputDocument="ngModel" required>
                </mat-form-field>
                <app-errors [control]="inputDocument"></app-errors>
                <!--<input class="form-control" name="inputDocument" placeholder="CPF" value="333.333.333-33" type="text">-->
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Data de nascimento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100p">
                  <input type="text" ngModel matInput placeholder="RG" name="inputDocument2" #inputDocument2="ngModel"
                    disabled>
                </mat-form-field>
                <app-errors [control]="inputDocument2"></app-errors>
              </div>
              <div class="col-md-12">
                <mat-form-field class="w-100p">
                  <input type="text" ngModel matInput placeholder="Profissão" name="inputOccupation" #inputOccupation="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputOccupation"></app-errors>
              </div>
              <div class="pX-10 mB-10 col-sm-12 w-100p">
                <div class="p-0 w-100p">
                  <label>Estado civil</label>
                </div>
                <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                  <mat-radio-button class="example-radio-button" [value]="'Solteiro'">
                    Solteiro
                  </mat-radio-button><br>
                  <mat-radio-button class="example-radio-button" [value]="'Casado'">
                    Casado
                  </mat-radio-button><br>
                  <mat-radio-button class="example-radio-button" [value]="'Divorciado'">
                    Divorciado
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-lg-6 p-15 form-row">
              <div class="col-md-12 mB-0 p-0">
                <h4 class="m-0 mB-10">Dados de contato</h4>
              </div>
              <div class="col-md-9">
                <mat-form-field>
                  <input type="text" ngModel matInput placeholder="Endreço" name="inputAddress" #inputAddress="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputAddress"></app-errors>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input type="text" ngModel matInput placeholder="Num." name="inputNumber" #inputNumber="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputNumber"></app-errors>
              </div>

              <div class="col-md-12">
                <mat-form-field>
                  <input type="text" ngModel matInput placeholder="Complemento" name="inputComplement" #inputComplement="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputComplement"></app-errors>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input type="text" ngModel matInput placeholder="Bairro" name="inputNeighborhood" #inputNeighborhood="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputNeighborhood"></app-errors>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input type="text" ngModel matInput placeholder="Bairro" name="inputNeighborhood" #inputNeighborhood="ngModel"
                    required>
                </mat-form-field>
                <app-errors [control]="inputNeighborhood"></app-errors>
              </div>
              <div class="card p-20">
                <div class="col-md-12 form-row">
                  <div class="col-md-12 mB-0 p-0">
                    <h5 class="m-0 mB-10">Acesso</h5>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="text" ngModel matInput placeholder="Senha" name="inputPassword" #inputPassword="ngModel"
                        required>
                    </mat-form-field>
                    <app-errors [control]="inputPassword"></app-errors>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <input type="text" ngModel matInput placeholder="Confirmação" name="inputPassword" #inputPassword="ngModel"
                        required>
                    </mat-form-field>
                    <app-errors [control]="inputPassword"></app-errors>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>