<div class="col1-app pos-r">

  <!-- Center content wrapper -->
  <div class="col1-app__wrapper">
    <div class="col1-list h-100p">
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-20  d-n@sm-">
          <div class="content-header__title">
            <h3 class="m-0">
              Usuários
            </h3>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <button class="modal-toogle btn btn-muted-secondary peers ai-c  m-5 bdrs-2 cur-p" type="button" (click)="openSideNav()">
            <i class="material-icons fsz-md"> search </i>
          </button>
          <button class="modal-toogle btn btn-success peers ai-c  m-5 bdrs-2 cur-p" type="button" (click)="open('1')">
            <i class="material-icons fsz-md"> add </i>
          </button>
        </div>
      </div>


      <div class="table-header peers ai-c jc-sb pY-10 pX-20 bdB">
        <div class="w-100p">
          <span class="d-n@sm-"> Nome </span>
          <span class="d-n@sm+"> Endereço </span>
        </div>
        <div class="d-n@sm- w-100p">
          <span> Endereço </span>
        </div>
        <div class="d-n@md- w-100p">
          <span> Cadastro </span>
        </div>
        <div class="w-50p status-area">
          Status
        </div>
        <div class="w-33p ta-c status-area">

        </div>
      </div>
      <div>

      </div>

      <!-- content scroll -->
      <div class="ps psb" perfectScrollbar>
        <!-- <div class="scrollable h-100p">-->
        <div class="w-100p pX-10">
          <!-- Atendimentos -->
          <div class="table-body peers jc-sb pY-20 bdB" *ngFor="let i of [1,2,3,4,5,6,7,8,910,11,12,13,14,15,16]">

            <div class="w-100p">
              <span class="mB-5 mT-0">
                <span class="fsz-xs c-client-default m-0 d-n@sm+">Fisio: </span>Salomão da Fonseca</span>
              <span class="m-0 d-n@sm+"><span class="fsz-xs c-client-default m-0">Médico: </span>Dr.Alfredo Pimenta</span>
              <div class="d-n@md+ w-100p mT-10">
                <span class="m-0"><span class="fsz-xs c-client-default">Consulta </span><br>20/07/2018 às 15:45</span>
                <span class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</span>
              </div>
              <!--<div class="peers mT-5 d-n@sm+">
                          <span class="badge badge-pill fsz-xs bgc-green-500 c-white mR-5 badge-vs">Pago</span>
                          <span class="badge badge-pill badge-equal bgc-red-50 c-red-700 badge-vs">Cancelado</span>
                      </div>-->
            </div>
            <div class="d-n@sm- w-100p">
              <span class="m-0">Rua: Alfredo Pimenta</span>
            </div>
            <div class="d-n@md- w-100p">
              <span class="m-0">20/07/2018 às 15:45</span>
              <!--<h5 class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</h5>-->
            </div>
            <div class="w-50p peers  status-area">
              <div class="status-indicator pending"><span>Pendente</span></div>
              <!--<button class="btn btn-clear pX-5 pY-0 bdrs-2 mR-5 cur-p  c-client-secondary" type="button">
                          <i class="fa fa-ellipsis-h fsz-xl"></i>
                      </button>-->
            </div>
            <div class="w-33p peers jc-fe">
              <button class="btn btn-muted-primary  peers ai-c bdrs-2 p-5 cur-p mR-5" type="button">
                <i class="material-icons fsz-md"> edit </i>
              </button>
              <button class="btn btn-muted-danger  peers ai-c bdrs-2 p-5 cur-p" type="button" (click)="initLoginModal()">
                <i class="material-icons fsz-md"> delete </i>
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
      <app-side-nav [showCustomModal]="showSidenav" (sidenavClosed)="closeSidenav($event)">
          <!-- Sidenav title -->
            <h3 class="m-0" title>
              Usuários
            </h3>
            <!-- Sidenav content -->
            <div class="m-0" content>
                <div class="table-body peers jc-sb pY-20 bdB" *ngFor="let i of [1,2,3,4,5,6,7,8,910,11,12,13,14,15,16]">

                    <div class="w-100p">
                      <span class="mB-5 mT-0">
                        <span class="fsz-xs c-client-default m-0 d-n@sm+">Fisio: </span>Salomão da Fonseca</span>
                      <span class="m-0 d-n@sm+"><span class="fsz-xs c-client-default m-0">Médico: </span>Dr.Alfredo Pimenta</span>
                      <div class="d-n@md+ w-100p mT-10">
                        <span class="m-0"><span class="fsz-xs c-client-default">Consulta </span><br>20/07/2018 às 15:45</span>
                        <span class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</span>
                      </div>
                      <!--<div class="peers mT-5 d-n@sm+">
                                  <span class="badge badge-pill fsz-xs bgc-green-500 c-white mR-5 badge-vs">Pago</span>
                                  <span class="badge badge-pill badge-equal bgc-red-50 c-red-700 badge-vs">Cancelado</span>
                              </div>-->
                    </div>
                    <div class="d-n@sm- w-100p">
                      <span class="m-0">Rua: Alfredo Pimenta</span>
                    </div>
                    <div class="d-n@md- w-100p">
                      <span class="m-0">20/07/2018 às 15:45</span>
                      <!--<h5 class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</h5>-->
                    </div>
                    <div class="w-50p peers  status-area">
                      <div class="status-indicator pending"><span>Pendente</span></div>
                      <!--<button class="btn btn-clear pX-5 pY-0 bdrs-2 mR-5 cur-p  c-client-secondary" type="button">
                                  <i class="fa fa-ellipsis-h fsz-xl"></i>
                              </button>-->
                    </div>
                    <div class="w-33p peers jc-fe">
                      <button class="btn btn-muted-primary  peers ai-c bdrs-2 p-5 cur-p mR-5" type="button">
                        <i class="material-icons fsz-md"> edit </i>
                      </button>
                      <button class="btn btn-muted-danger  peers ai-c bdrs-2 p-5 cur-p" type="button" (click)="initLoginModal()">
                        <i class="material-icons fsz-md"> delete </i>
                      </button>
                    </div>
        
                  </div>
            </div>
             <!-- Sidenav footer -->
            <div class="m-0" footer>
                footer
              </div>
        </app-side-nav>
 



</div>