/*.scrollable{
    &:hover {
        +.pagination{
            opacity: 1;
            transform: translateY(-150%);
            transition: opacity 0.3s, transform 0.2s linear;
        }
    }
}*/
.pagination {
    //opacity: 1;
    //transform: translateY(150%);
    //transition: opacity 0.3s, transform 0.2s linear;
    padding: 5px 0;
    min-height: 35px;
  }
