<section id="top-block">
        <span>{{'current language' | translate}}</span>
    <div class="middle">
        <div class="middle__block mgn-left flex-content flex-center block-40">
            <div class="text-block">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus vitae
                    dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis
                    efficitur,</p>
            </div>
        </div>
        <div class="middle__block flex-content flex-end block-60">
            <img src="assets/images/m0018-01.jpg" />
        </div>
    </div>
</section>

<section class="bgc-grey-100">
    <div class="pY-100">
        <div class="block-title mB-50">
            <h2 class="ta-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales pellentesque.</h2>
            <p class="ta-c"> sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis efficitur, magna leo iaculis lectus, sed imperdiet sapien magna ut nisi.</p>
        </div>
        <div class="middle">
            <div class="middle__block mgn-left flex-content flex-center block-40">
                <div class="text-block">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                    <p>sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis efficitur, magna leo iaculis lectus, sed imperdiet sapien magna ut nisi.</p>
                </div>
            </div>
            <div class="middle__block image-right block-60">
                <img class="img-shaddaw" src="assets/images/screens/screen1.png" />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="pY-100">
        <div class="block-title mB-50">
            <div class="middle">
                <div class="middle__block block-50 flex-content flex-center">
                    <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                </div>
                <div class="middle__block block-50 flex-content flex-center">
                    <p class="pX-20">sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis efficitur, magna leo iaculis lectus, sed imperdiet sapien magna ut nisi.</p>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="middle__block flex-content flex-center image-left block-60">
                <img class="img-shaddaw" src="assets/images/screens/screen1.png" />
            </div>

            <div class="middle__block mgn-right flex-content flex-center block-40">
                <div class="text-block mL-30">
                    <h3>Lorem</h3>
                    <p>sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt.</p>
                    <h3>Lorem</h3>
                    <p>sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt.</p>
                    <h3>Lorem</h3>
                    <p>sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bgc-grey-100">
    <div class="pY-100">
        <div class="block-title mB-50">
            <h2 class="ta-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales pellentesque.</h2>
            <p class="ta-c"> sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis efficitur, magna leo iaculis lectus, sed imperdiet sapien magna ut nisi.</p>
        </div>
        <div class="block-center">
            <div class="middle fl-wrap">
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
            </div>
            <div class="flex-content flex-middle">
                <button class="sbtn sbtn-custom">Saiba mais</button>
            </div>
        </div>
    </div>
</section>
<section class="bgc-client-default">
    <div class="pY-100">
        <div class="block-title mB-50">
            <h2 class="ta-c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales pellentesque.</h2>
            <p class="ta-c"> sit amet sollicitudin est tincidunt eget. Cras faucibus vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum, nisl nec mattis efficitur, magna leo iaculis lectus, sed imperdiet sapien magna ut nisi.</p>
        </div>
        <div class="block-center">
            <div class="middle fl-wrap">
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
                <div class="middle__block block-33 mB-40">
                    <div class="m-10">
                        <div class="icon-medium">
                            <img src="assets/images/icons/bitcoin.svg" />
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Phasellus sodales pellentesque arcu, sit amet sollicitudin est tincidunt eget. Cras faucibus
                            vitae dui eu suscipit. Ut tincidunt nunc at lectus aliquam efficitur. Aenean condimentum,
                            nisl nec mattis efficitur,</p>
                        <a href="#" class="link-arrow"> sit amet sollicitudin est 
                            <div class="icon"><img src="assets/images/icons/green-arrow.svg" /> </div></a>
                    </div>
                </div>
            </div>
            <div class="flex-content flex-middle">
                <button class="sbtn sbtn-custom">Saiba mais</button>
            </div>
        </div>
    </div>
</section>

<div appAppear (appear)="onAppear($event)" style="height: 500px; line-height: 500px; background: rgb(245, 12, 12);">
    <span [hidden]="hasAppeared">I haven't appeared yet.</span>
    <span [hidden]="!hasAppeared">I have appeared.</span>
</div>

<div style="height: 1500px; background: #ccc;"></div>

<div appAppear (appear)="onAppear($event)" style="height: 500px; line-height: 500px; background: rgb(245, 12, 12);">
    <span [hidden]="hasAppeared">I haven't appeared yet.</span>
    <span [hidden]="!hasAppeared">I have appeared.</span>
</div>

<div style="height: 1500px; background: #ccc;"></div>