@import "./../site.component";
@import '../../../../assets/styles/settings/breakPoints';
@import '../../../../assets/styles/settings/materialColors';
@import '../../../../assets/styles/tools/index';
$black : #253858;

h1{
    font-size: 3.0em;
    color: $black;
    margin-bottom: 24px;
}
h2{
    font-size: 3.0em;
    color: $black;
    margin-bottom: 24px;
}
h3{
    font-size: 2.0em;
    color: $black;
    margin-bottom: 16px;
}
h4{
    font-size: 1.5em;
    color: $black;
    margin-bottom: 14px;
}
p {
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.4;
    color: $black
}
#top-block {
   padding-top: 150px
}
.text-block{
    margin-right: 30px;
    @include to($breakpoint-sm) {
        margin-right: 0;
        width: 70%;
        margin: 0 auto;
     }
   
}
.middle {
    display: flex;
    @include to($breakpoint-sm) {
       flex-flow: column;
    }
    &__block{
        img{
            width: 100%;  
        }
    }
}
.fl-wrap {
    flex-flow: wrap;
}
.block-60{
    width: 60%;
    @include to($breakpoint-sm) {
        width: 100%;
    }
}
.block-33 {
    width: 33%;
    @include to($breakpoint-md) {
        min-width: 50%;
     }
     @include to($breakpoint-sm) {
        min-width: 100%;
     }
}
.block-40 {
    width: 40%;
    @include to($breakpoint-sm) {
        width: 100%;
     }
}

.block-50{
    width: 50%;
    @include to($breakpoint-sm) {
        width: 100%;
     }
}
.block-title {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}
.block-center{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}
.mgn-left{
    margin-left: 16.6667%;
    @include to($breakpoint-md) {
        margin-left: 8.33333%;
    }
    @include to($breakpoint-sm) {
        margin-left: 20px;
    }
}
.mgn-right{
    margin-right: 16.6667%;
    @include to($breakpoint-md) {
        margin-right: 8.33333%;
    }
    @include to($breakpoint-sm) {
        margin-right: 20px;
    }
}
.flex-content{
    display: flex
}
.flex-center{
    align-items: center
}
.flex-end{
    flex-flow: column-reverse
}
.flex-middle{
    justify-content: center
}
.image-right{
    padding-right: 20px;
    @include to($breakpoint-sm) {
        padding: 20px;
     }
}
.image-left{
    padding-left: 20px;
    @include to($breakpoint-sm) {
        padding: 20px;
     }
}
.icon-medium{
    width:130px;
    margin-bottom: 20px
}

.show, .hidden {
    display: flex;
    position: absolute;
    transform: translateY(100%);
    transition: transform 200ms linear;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  .link-arrow {
    color: $client-default;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:hover{
        // color: red;
            .icon {
                animation: arrow-link 0.8s infinite; 
            }
        
    }
  }
  .sbtn {
    height: 40px;
    line-height: 38px;
    padding: 0 16px;
    font-weight: 500;
    border-radius: 4px;
}

  .sbtn-custom{
    background: $client-default;
    border: 1px solid $client-default;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: darken($client-default, 5%);
        transform: scale(1.05);
    }
    &:active{
        background: darken($client-default, 5%);
        transform: scale(0.95);
    }
    &:focus{
        outline: none;
        border: 0;
        &:focus {
            box-shadow: 0 0 0 2px rgba($client-default, 0.25);
        }
    }
}
  .icon {
      width: 12px;
      margin-left: 5px
  }
  @keyframes arrow-link {
    0%   { opacity: 0.7; transform: translateX(0); }
    100% { opacity: 1; transform: translateX(10px); }
  }

  .img-shaddaw{
    box-shadow: 6px 30px 30px rgba(23,43,77,.1);
  }