<section>
  <nav class="site-top-nav">
    <div class="block-center">
      <div style="display:flex; align-items: center; justify-content: space-between; height: 100%;">
        <div style="display:flex;">
          <h5>Expense</h5>
          <ul>
            <li>Pra você</li>
            <li>Para sua empresa</li>
            <li>Nossos valores</li>
          </ul>
          <ul class="flags">
              <li *ngFor="let lng of supportedLanguages" [ngClass]="currentlanguage === lng.value ? 'active' : 'inactive'" (click)="selectLang(lng.value)">
                <img [src]="lng.icon" />
                {{lng.display}}
              </li>
            </ul>
        </div>
        <div style="display:flex;">
          <button class="btn btn-success w-100p p-5 pX-5 bdrs-2 cur-p mR-5 big-btn" type="button" [routerLink]="['/public/register']">
            Experimente Grátis
          </button>
        </div>

      </div>

    </div>

  </nav>
</section>


<router-outlet #route="outlet"></router-outlet>