@import './../../../assets/styles/settings/breakPoints';
@import './../../../assets/styles/tools/index';
@import './../../../assets/styles/index';

body, html{
    overflow: auto !important;
}
.site-top-nav {
    width: 100%;
    height: 60px;
    position: absolute;
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        z-index: 4;
        animation: fadeInDown .3s 1 0s forwards;
      }
      
    &.nop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease;
        background-color: #fff;
        animation: fadeInUp .3s 1 0s forwards;
      }
      
}
.big-btn {
    padding: 7px 20px !important;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-150px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-150px);
    }
  }
  .block-center{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%
}

ul{
    margin-left: 10px;
    display: flex;
    li{
        list-style: none;
        margin-right: 15px;
        color: $client-default
    }
}