$dayBase: 30px;
$cloud:#ccc;
$base:5px;
$concrete:#fff;
$seafoam:#f2f2f2;
$white:#fff;
$teal:black;
$light-blue-grey:#888;
$blue-grey:#777;
$client-default: #4caf4f;
button{
  display: block;
  padding: 0;
  background: transparent;
  border: none;
  width: 20px;
  margin: 0 3px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus{
   outline: none;
   border: none;
  }
  &:hover{
      background: rgba($light-blue-grey, 0.15);
  }
}

i {
  border: solid $light-blue-grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    margin-left: -2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
   margin-right: -2px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.c-gray{
    color: $blue-grey
}
.calendar {
  display: block;
  width: 100%;
  margin: 0 auto;
  * {
    box-sizing: border-box;
   
  }

  .calendar-navs {
    display: flex;
    justify-content: space-between
  }

  .month-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $light-blue-grey;
    button{
        padding: 0;
        background: transparent;
        border: none;
        i{
            font-size: 10px;
        }
    }
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $light-blue-grey;
    button{
        padding: 0;
        background: transparent;
        border: none;
        i{
            font-size: 10px;
        }
    }
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background: #f9fafb;
      margin-bottom: 10px;
      // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 0;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: $base;
      display: block;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      &:focus {
        outline: none;
        border: none;
    }
    &:disabled {
     opacity: 0.3;
     cursor: not-allowed !important
    }
     
    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: $seafoam;
          }
        }
      }
      &.selected {
        color: $white;
        &:after {
          background-color: $client-default;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }
      &.inrange{
        color: $client-default;
        border-radius: 0;
        font-weight: bold;

        &:after {
          background-color: #efefef;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      
      &.selected2 {
        color: $white;
        &:after {
          background-color: $client-default;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      &.disabled {
        color: $light-blue-grey !important;
      }
    }

    .today {
      // font-weight: bold;
      // border: 1px solid $light-blue-grey;
      // border-radius: 15px !important;
      // width: 100%;
      // position: relative;
      &:after {
        content: '●';
        position: absolute;
        top: -5px;
        // left: 0;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        // top: 0;
        // color: $client-default
      }
    }
  }
  .clear-calendar {
      width: 100%;
      border-top: 1px solid #f2f2f2;
      display: flex;
      justify-content: center;
      padding: 5px 0;
      transition: all 0.3s ease-in-out;
    button{
        background-color: $seafoam;
        border: none;
        font-size: 0.7em;
        border-radius: 30px;
        &:hover{
            background-color: $teal;
            color: $cloud
        }
    }
  }
  .show-calendar-clear-button {
    transition: all 0.3s ease-in-out;
    &.active{
        height: 30px;
    }
    &.inactive {
        height: 0;
    }
  }
} 