<div class="calendar">
    <div class="calendar-navs">
        <div class="month-nav">
            <button (click)="prevYear()"><i class="left"></i></button>
            <span class="p4">{{ currentDate.format('MMM') }}</span>
            <button (click)="nextMonth()"><i class="right"></i></button>
        </div>
        <div class="year-nav">
            <button (click)="prevYear()"><i class="left"></i></button>
            <span>{{ currentDate.format('YYYY') }}</span>
            <button (click)="nextYear()"><i class="right"></i></button>
        </div>
    </div>
    <div class="month-grid">
        <div class="day-names">
            <div *ngFor="let name of dayNames" class="day-name p9 c-gray">
                {{ name }}
            </div>
        </div>
        <div class="weeks">
            <div *ngFor="let week of weeks" class="week">
                <ng-container *ngFor="let day of week">
                    <div (mouseenter)="isInRange(day.mDate)" (mouseleave)="isInRange(null)" style="width:100%">
                        <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                            <span class="date-text c-gray">{{ day.mDate.date() }}</span>
                        </div>
                        <button class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectRange(day.mDate)"
                            [disabled]="isRanging &&  day.mDate.isBefore(rangeDate.dateStart)" [ngClass]="{ selected: day.mDate.isSame((rangeDate.dateStart), 'day'), selected2: day.mDate.isSame((rangeDate.dateEnd), 'day'), inrange: day.mDate.isBetween(rangeDate.dateStart, dayToselect)}">
                            <div [ngClass]="{today: day.today}"></div>
                            <div class="date-text">{{ day.mDate.date()}}</div>
                            <!-- {{day.mDate.isSame((rangeDate.dateStart), 'day')}} {{day.mDate.isBetween(rangeDate.dateStart, dayToselect)}}-->
                            <!-- {{ day.mDate.isBefore(rangeDate.dateStart)}} -->
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <!--<div class="clear-calendar show-calendar-clear-button inactive" [ngClass]=" (cleaner || selectedDate) ? 'active':'inactive'">
            <button type="button">Limpar</button>
        </div>-->
</div>