@import './../../../assets/styles/settings/breakPoints';
@import './../../../assets/styles/tools/index';
@import './../../../assets/styles/index';

.public-content {
    display: flex;
    height: 100%;
    width: 100%;
    @include to($breakpoint-sm) {
       flex-flow: column;
    }
    &__text{
        background: $client-default;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include to($breakpoint-sm) {
            width: 100%;
            max-height: 200px;
            height: 200px;
         }
    }
    &__form{
        width: 100%;
        height: 100%;
    }
}
.publicity-image {
    width: 80%;
    max-width: 150px;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
