@import './../../../../assets/styles/settings/breakPoints';
@import './../../../../assets/styles/index';
.answer {
    display: flex;
    width: 100%;
    &__questions{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
    }

   &__index{
    width: 300px;
    min-width: 300px;
    overflow-x: hidden;
       
    }
}
ul{ 
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        font-size: 1.1rem;
        padding: 10px 0;
        a{
            margin: 10px;
            color: $md-blue-grey-700;
            &:hover{
                color: $client-default
            }
        }
       &:before{
        content: '\e5c8';
        font-family: 'Material Icons';
        color: $client-default;
       }
        
    }
}