<section>
  <div class="answer pY-50">
    <div class="answer__questions">
      <h1>Corrigir problemas no pagamento com o Google Drive</h1>
      <p>Se você tentou comprar espaço de armazenamento no Google Drive e o pagamento foi recusado, siga estas etapas.</p>
      <mat-accordion class="w-100p">
        <mat-expansion-panel *ngFor="let bill of billings">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{bill.title}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>{{bill.details}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <p class="pT-40">Se você tentou comprar espaço de armazenamento no Google Drive e o pagamento foi recusado, siga
        estas etapas.</p>
      <div class="peers jc-fe mB-40">
        <button class="btn btn-outline-primary p-10 peers ai-c  m-5 bdrs-2 cur-p" type="button" [routerLink]="['/public/login']">
          Ir para login
        </button>
        <button class="btn p-10 peers ai-c  m-5 bdrs-2 cur-p" type="button">
            Acessar o site
          </button>
      </div>
    </div>
    <div class="answer__index pL-20">
      <h5>Ajuda</h5>
      <ul>
        <li *ngFor="let help of billings"><a>{{help.title}}</a></li>
      </ul>

    </div>
  </div>

</section>