<div class="pagination">
    <div class="block">
        <i class="material-icons"> keyboard_arrow_left</i>
    </div>
    <div class="block page-count">1 de 10</div>
    <div class="block">
        <i class="material-icons"> keyboard_arrow_right</i>
    </div>
  </div>