<section class="sidebar-container sidebar-hidden" [ngClass]="showCustomModal ? 'sidebar-show' : 'sidebar-hidden'">
  <div class="peers w-100p ai-c jc-sb content-header">
    <div class="content-header__left">
      <div class="content-header__title">
        <ng-content select="[title]"></ng-content>
      </div>
    </div>
    <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

    <div class="btn-group gap-10 jc-c ai-c peers" role="group">
      <button class="modal-toogle btn btn-muted-danger peers ai-c  m-5 bdrs-2 cur-p" type="button" (click)="closeModal()">
        <i class="material-icons fsz-md"> close </i>
      </button>
    </div>
  </div>
  <div class="ps psb sidebar-content" perfectScrollbar>
    <!-- <div class="scrollable h-100p">-->
    <div class="w-100p pX-10">
        <ng-content select="[content]"></ng-content>
    </div>
  </div>
  
  <ng-content select="[footer]"></ng-content>
</section>
<div (click)="closeModal()" class="hidden-overlay" [ngClass]="showCustomModal ? 'show-sidebar-overlay' : 'hidden-sidebar-overlay'"></div>