.sidebar-show, .sidebar-hidden {
    visibility: visible;
    opacity: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .sidebar-show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-100%);

    z-index:  999;
  }
  .sidebar-container {
    position: absolute;
    width: auto;
    min-width: 320px;
    height: 100%;
    top: 0;
    justify-content:  center;
    display: flex;
    flex-flow: column;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
  }
  .sidebar-content{
    display: flex;
    height: 100%;
  }

  .show-sidebar-overlay, .hidden-sidebar-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0px;
    left:  0px;
    background:  rgba(255,255,255,0.85);
    width:  100%;
    height: 100%;
    transition: visibility 0.3s, opacity 0.2s linear;
  }
  .show-sidebar-overlay {
    visibility: visible;
    opacity: 1;
  }