<div class="col1-app">

  <div class="billings">
      <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
          <div class="ps psb h-100p left-bar w-100p m-5" perfectScrollbar>
            <div class="peers jc-c card m-5">
              <app-calendar></app-calendar>
            </div>
            <div>
              <div class="pX-20 pT-30  pos-r">
                <section class="menu-divider divider-top bdT w-100"><span class="bgc-grey-100">Indicadores</span></section>
              </div>
              <div class="pX-20">
                <h5 class="m-0">Santander Casa 3</h5>
                <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
                  Vila Prudente - São Paulo - Br</p>
                <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>
          </div>
        
        </div>
    <div class="billings__block-form jc-c bgc-white">
      <div class="peers w-100p ai-c jc-sb content-header pL-30">
          <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
        <div class="content-header__left " appTooltip [tooltipTitle]="' Titulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menuTitulo menu'" placement="left" delay="500">
          <div class="content-header__title">
            <span class="fsz-xs c-grey-700">Janeiro a Dezembro de 2018</span>
            <h3 class="m-0">
              Faturamento
            </h3>
          </div>
        </div>
        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <button  matTooltip="Filtro avançado" matTooltipPosition="left"  class="btn btn-muted-secondary peers ai-c  m-5 bdrs-2 cur-p" type="button">
            <i class="material-icons fsz-md"> search </i>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu"  xPosition="before">
              <button mat-menu-item routerLink="/eventos" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>star</mat-icon>
                <span>Todos os eventos</span>
              </button>
              <button mat-menu-item routerLink="/eventos/novo" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>new_releases</mat-icon>
                <span>Criar evento</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Sair</span>
              </button>
            </mat-menu>
         
        </div>
      </div>
      <!-- content scroll -->
      <!--<div class="scrollable h-100p peers jc-c mY-10 mX-10">-->
      <div class="ps psb peers jc-c" perfectScrollbar>
        <div class="col-sm-12 p-0 m-0">
          <app-highcharts-custom-component [data]="data" [type]="'areaspline'" [chartHeight]="'300'"></app-highcharts-custom-component>
        </div>
        <div class="col-md-8">
          <div class="form-group col-md-12 mT-20 mB-0 p-0">
            <h4 class="m-0 mB-10 ta-c">Histórico</h4>
          </div>
          <div class="mY-30 form-row">
            <mat-accordion class="w-100p">
              <mat-expansion-panel *ngFor="let bill of billings">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{bill.month}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="value" [ngClass]="bill.status ==='AB' ? 'c-red-500' : 'c-green-500'">
                      {{bill.value}}
                    </div>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{bill.details}}</p>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="clearfix"></div>
            <!--<div class="form-group ta-c col-md-12">
                            <button class="btn btn-success" type="button">Salvar alteração</button>
                        </div>-->

          </div>


        </div>


      </div>
    </div>
  </div>
</div>