<div id="confirm-dialog">
  <div class="confirm-container">
    <div class="confirm-container__header pX-20 pT-40">

      <div class="peer">
        <h4 [innerHtml]="dialogTitle"></h4>
      </div>
    </div>
    <div class="confirm-container__content pX-50">
      <h5 [innerHtml]="dialogText"></h5>
    </div>
    <div class="confirm-container__footer pX-0 pY-0 mT-30">
      <button class="btn bgc-clear bdT pY-10 c-client-secondary" (click)="cancelClick($event); cancel()">Cancel</button>
      <button class="btn btn-clear bdT bdL btn-block bR-0 pY-10 c-client-default" (click)="okButton($event)">Sim</button>

    </div>
  </div>
</div>
