#confirm-dialog{
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.confirm-container{
  background: rgba(255,255,255,1);
  border-radius: 5px;
  overflow: hidden;
  width: 375px;
  &__header{
    text-align: center;
    font-weight: 400;

  }
  &__content{

    text-align: center;
  }
  &__footer{
    display: flex;
    text-align: center;
    button{
      width: 100%;
      border-radius: 0;
    }
  }
}
