<div class="app-layout" id="app-layout">
  <!-- #Left Sidebar ==================== -->
  <div class="sidebar bdR open">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo bd-0">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="td-n" href="index.html">
              <div class="peers ai-c fxw-nw">
                <div class="peer w-100p">
                  <div class="logo">
                    <img src="assets/images/logos/expense.svg" alt="">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a class="td-n" (click)="sidebar()">
                <i class="fa fa-close"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">

        <li class="nav-item" *ngFor="let item of menuItens" [routerLinkActive]="['active']" #rla="routerLinkActive"
          [routerLinkActiveOptions]="{exact:false}">
          <a [routerLink]="item.route" class="sidebar-link" [ngClass]="rla.isActive ? 'active' : ''">
            <span class="icon-holder">
              <!--<i [class]="item.icon"></i>-->
              <i class="material-icons">{{item.icon}} </i>
            </span>
            <span class="title">{{item.name}}</span>
          </a>
        </li>
      </ul>
      <!-- ### Sidebar profile ###-->
      <div class="sidebar-profile" [routerLinkActive]="['active']" #rla="routerLinkActive" [routerLinkActiveOptions]="{exact:false}">
        <div class="sidebar-profile__image" [ngClass]="rla.isActive ? 'active' : ''" [routerLink]="'/admin/profile'">
          <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
        </div>
      </div>
      <!-- Logout area -->
      <button type="button" class="btn btn-default mT-10" [routerLink]="['/public']">sair</button>
    </div>
  </div>
  <div class="sidebar-bcg-overlay sidebar-toggle"></div>

  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <div class="header navbar bdrs-0">

      <div class="header-container bdB">
        <div class="w-100p peers jc-sb ai-c">
          <ul class="nav-left">
            <li>
              <a id='sidebar-toggle' class="sidebar-toggle" (click)="sidebar()">
                <i class="fa fa-bars"></i>
              </a>
            </li>
          </ul>

          <ul class="nav-right top-nav">
            <li>
              <ul class="flags">
                <li *ngFor="let lng of supportedLanguages" [ngClass]="currentlanguage === lng.value ? 'active' : 'inactive'" (click)="selectLang(lng.value)">
                  <img [src]="lng.icon" />
                  {{lng.display}}
                </li>
              </ul>
            </li>
            <li class="notifications">
              <span class="counter bgc-red">3</span>
              <a href="" class="no-after">
                <i class="material-icons"> notifications </i>
              </a>
            </li>
            <li class="notifications">
              <a href="" class="no-after">
                <i class="fa fa-cog fsz-xl"></i>
              </a>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu"  yPosition="above" style="margin-top:55px">
                    <button mat-menu-item routerLink="/eventos" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                      <mat-icon>star</mat-icon>
                      <span>Todos os eventos</span>
                    </button>
                    <button mat-menu-item routerLink="/eventos/novo" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                      <mat-icon>new_releases</mat-icon>
                      <span>Criar evento</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                      <mat-icon>power_settings_new</mat-icon>
                      <span>Sair</span>
                    </button>
                  </mat-menu>
            </li>
            <!--
            <li appDropdown [dropdownItens]="dropdownList()">
              <a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                <div class="peers">
                  <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                </div>
                <div class="peer  mL-10 d-n@sm-">
                  <span class="fsz-sm c-grey-900">John Doe</span>
                </div>
              </a>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
    <!-- ### $App Screen Content ### -->
    <main class="full-container">
      <div id="sidebar-container" class="sidebar-hidden"></div>
      <div id="overlay-sidebar" class="hidden-sidebar-overlay"></div>
      <router-outlet #route="outlet"></router-outlet>
    </main>
    <!-- ### $App Screen Footer ###
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
          <span>Copyright © 2017 Designed by
            <a href="https://colorlib.com" target='_blank' title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>-->
  </div>
</div>