<div class="col1-app">
  <div class="approvals">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb h-100p left-bar" perfectScrollbar>
        <div class="p-10 card-muted">
          <p class="mB-10"><b>Pipeline</b></p>
          <ul class="pipeline card p-20">
            <li *ngFor="let i of [1,2,3]"><i class="material-icons">check_circle </i>Aprovação</li>
          </ul>
        </div>
        <div class="pX-20 pT-20 mT-20 pos-r">
          <section class="menu-divider divider-top bdT w-100"><span class="bgc-grey-100">Revisões</span></section>
        </div>
        <div class="p-20 card m-5">
          <ul class="review">
            <li class="c-grey-700 m-0 lh-1-5 fsz-sm" *ngFor="let i of [1,2,3]">
              <span class="c-client-default">21/10</span>
              Rua Ramos Batista 198 <br>
              Vila Prudente - São Paulo - Br</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="approvals__block-form jc-c bgc-white">

      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-10 pX-10">
          <div class="content-header__title">
            <div class="peers">
              <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <button class="open-details btn btn-clear peers ai-c pX-5 pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary"
                type="button" [routerLink]="['../']">
                <i class="fa fa-arrow-left fsz-xl"></i>
              </button>
              <div>
                <h3 class="mB-0">Despesa comum<span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <div class="status-indicator pending mB-10 mT-5"><span>Pendente</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group gap-20 ai-c jc-c peers pX-20 pY-10" role="group">
            <div class="peers">
              <button class="btn btn-outline-success peers ai-c p-5 bdrs-10em  cur-p mR-5" type="button">
                Aprovar
              </button>
              <button class="btn btn-outline-warning peers ai-c p-5 bdrs-10em  cur-p mR-5" type="button">
                Revisar
              </button>
              <button class="btn btn-outline-danger peers ai-c p-5 bdrs-10em  cur-p mR-5" type="button">
                Rejeitar
              </button>
            </div>
          </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->
      </div>

      <!-- content scroll -->

      <div class="expense-block">
        <!-- Atendimentos -->
        <div class="expense-block__content">
          <div class="ps psb p-10" perfectScrollbar>


            <div class="w-100p pX-10 peers block-form">
              <div class="mY-30 form-row">
                <div class="col-md-4">
                  <mat-form-field class="w-100p">
                    <input type="text" ngModel matInput placeholder="Valor da despesa" name="inputDocument"
                      #inputDocument="ngModel" required>
                  </mat-form-field>
                  <app-errors [control]="inputDocument"></app-errors>
                  <!--<input class="form-control" name="inputDocument" placeholder="CPF" value="333.333.333-33" type="text">-->
                </div>
                <div class="col-md-12">
                  <mat-form-field class="w-100p">
                    <textarea matInput ngModel placeholder="Leave a comment" name="inputComment" #inputComment="ngModel"></textarea>
                  </mat-form-field>
                  <app-errors [control]="inputComment"></app-errors>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="w-100p">
                    <textarea matInput ngModel placeholder="Leave a comment" name="inputDescription" #inputDescription="ngModel"></textarea>
                  </mat-form-field>
                  <app-errors [control]="inputDescription"></app-errors>
                </div>

                <div class="form-group pX-10 mB-10 col-sm-12 w-100p">
                  <label>Categoria</label>
                  <section class="check-group">
                    <mat-checkbox ngModel [(ngModel)]="checked1">
                      Refeição
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked2">
                      Viagem
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked3">
                      Mercado
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked4">
                      Refeição
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked5">
                      Viagem
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked6">
                      Mercado
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked7">
                      Refeição
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked8">
                      Viagem
                    </mat-checkbox>
                    <mat-checkbox ngModel [(ngModel)]="checked9">
                      Mercado
                    </mat-checkbox>
                  </section>
                </div>

                <div class="clearfix"></div>
                <!--<div class="form-group ta-c col-md-12">
                                    <button class="btn btn-success" type="button">Salvar alteração</button>
                                </div>-->

              </div>
            </div>
          </div>
        </div>

        <div class="expense-block__image">
          <img src="http://arquivos.tribunadonorte.com.br/fotos/117833.jpg" />
        </div>
      </div>

    </div>
  </div>
</div>