@import './../../../../assets/styles/settings/breakPoints';
@import './../../../../assets/styles/tools/index';
.approvals {
    display: flex;
    width: 100%;
    &__block-image{
        width: 375px;
        overflow-x: hidden;
    }

   &__block-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
        @include to($breakpoint-sm) {
            width: calc(100% - 20px);
            flex-shrink: 0;
        }
    }
}
.block-form{
    max-width: 450px;
    margin: auto;
}
.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px
    }
}
.lh-1-5{
    line-height: 1.5
}
.pipeline{
    padding-left: 15px;
    li{
        list-style: none;
        display: flex;
        align-items: center;
        border-left: 2px solid;
        line-height: 15px;
        &:not(:last-child){
            padding-bottom: 20px;
        }
        i{ 
            font-size: 17px;
            margin-right: 10px;
            margin-left: -9px;
            background: #fff;
        }
    }
}


.review{
    padding-left: 5px;
    li{
        list-style: none;
        display: flex;
        line-height: 15px;
        &:not(:last-child){
            padding-bottom: 20px;
        }
        span{
            margin-right: 10px;
            font-weight: bold;
            color: black
        }
    }
}

.expense-block{
    display: flex;
    height: 100%;
    @include to($breakpoint-md) {
        display: block;
        flex-flow: column;
        overflow: auto;
    }
    &__image{
        max-width: 340px;
        min-width: 340px;
        overflow: auto;
        padding-right: 10px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        border-left: 1px solid rgba(37, 56, 88, 0.0625);
        @include to($breakpoint-md) {
            border-left: 0;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 20px;
            @include to($breakpoint-md) {
                max-width: 300px;
            }

        }
        &:before {
            content: 'imagem da despesa';
            position: absolute;
            width: 100%;
            height: 27px;
            left: 10px;
            transform: rotate(90deg);
            top: 50%;
            left: 40%;
            font-weight: bold;
            color: #b2b2b2;
        }
    }
    &__content{
        display: flex;
        height: 100%;
        width: 100%;
        flex-flow: column;
        @include to($breakpoint-md) {
            height: auto;
        }
    }
}
.check-group {
    display: flex;
    flex-wrap: wrap;
}
.mat-checkbox {
    padding: 0 15px 0 0;
    width: 115px;
}
.form-row {
    margin-left: 0;
    margin-right: 0;
}