    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Nome</label>
            <input id="inputName" name="inputName" class="form-control" />
          </div>
          <div class="form-group col-md-6">
            <label for="inputSurname">Sobrenome</label>
            <input id="inputSurname" name="inputSurname" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputDocument">CPF</label>
            <input id="inputDocument" mask-number [mask]="'999.999.999-99'" required [reqMin]="13" name="inputDocument" class="form-control"/>
          </div>

          <div class="form-group col-md-6">
            <label for="inputEmail">E-mail</label>
            <input id="inputEmail" name="inputEmail" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputBirthday">Data nascimento</label>
            <input id="inputBirthday" name="inputBirthday" class="form-control"/>
          </div>
          <input type="text" mask-number [mask]="'(99) 9999-99999'" required [reqMin]="13" class="form-control"
                  name="inputCellphone" placeholder="Seu telefone">
        </div>
        <button type="button" class="btn btn-default">
            Abrir loader
          </button>
      </form>

