<div class="peers w-100p ai-c jc-sb content-header">
    <div class="content-header__left mL-20  d-n@sm-">
      <div class="content-header__title">
        <h3 class="m-0">
          Faturamento
        </h3>
      </div>
    </div>
    <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

    <div class="btn-group gap-10 jc-c ai-c peers" role="group">

      <button class="btn btn-success peers ai-c  m-5 bdrs-2 cur-p" type="button">
        <i class="fa fa-plus fsz-md"></i>
      </button>
      <button class="btn btn-outline-secondary peers ai-c m-5 bdrs-2 cur-p" type="button">
        <i class="fa fa-filter fsz-md"></i>
      </button>
      <!--<button class="open-details btn btn-clear peers ai-c pX-5 pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary" type="button">
                <i class="fa fa-filter fsz-xl"></i>
            </button>-->
    </div>
  </div>

<div id="answer-component">
    <router-outlet  #route="outlet"></router-outlet>
</div>