<div class="col1-app">

  <div class="reports">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb h-100p left-bar w-100p m-5" perfectScrollbar>
        <div class="peers jc-c card m-5">
          <app-calendar></app-calendar>
        </div>
        <div>
          <div class="pX-20 pT-30  pos-r">
            <section class="menu-divider divider-top bdT w-100"><span class="bgc-grey-100">Indicadores</span></section>
          </div>
          <div class="pX-20">
            <h5 class="m-0">Santander Casa 3</h5>
            <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
              Vila Prudente - São Paulo - Br</p>
            <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
          </div>
        </div>
      </div>

    </div>
    <div class="reports__block-form jc-c bgc-white">
      <!-- Atendimentos -->
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-20">
          <div class="content-header__title">
            <div class="peers">
                <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <div>
                <h3 class="mB-0">Santander Casa 3 <span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <div class="peers">
            <button class="modal-toogle btn btn-success peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Pendente
            </button>
            <button class="modal-toogle btn btn-warning peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Revisão
            </button>
            <button class="modal-toogle btn btn-danger peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Rejeitadas
            </button>
            <button class="modal-toogle btn btn-primary peers ai-c pX-5 bdrs-2 cur-p" type="button">
              Todas
            </button>
          </div>
        </div>
      </div>

      <!-- content scroll -->
      <div class="ps psb" perfectScrollbar>
        <!--<div class="scrollable h-100p mY-10 mX-10">-->
        <div class="w-100p pX-10">
          <div class="peers jc-c">
            <div class="card report-block m-10 p-20" *ngFor="let i of [1,2,3,4,5,6,7,8,910,11,12,13,14,15,16]">
              <div class="status-indicator pending mB-10"><span>Pendente</span></div>
              <h5 class="m-0">Relatório Janeiro</h5>
              <h4>R$ 536,00</h4>
              <div class="report-block__action jc-sb">

                <button class="btn btn-success w-100p p-5 pX-5 bdrs-2 cur-p mR-5" type="button" [routerLink]="['./', '1']">
                  Ver detalhes
                </button>
                <button class="btn btn-outline-success w-100p p-5 pX-5 bdrs-2 cur-p mR-5" type="button">
                  Baixar PDF
                </button>
              </div>

            </div>

          </div>



          <!-- Atendimentos -->

        </div>
      </div>
      <!--  Pagination -->
      <div class="pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>