@import './../../../../assets/styles/settings/breakPoints';
@import './../../../../assets/styles/index';
@import './../../../../assets/styles/tools/index';
.user {
    display: flex;
    width: 100%;
    &__block-image{
        width: 375px;
        overflow-x: hidden;
    }

   &__block-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
       
    }
}

.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50px
    }
}
.lh-1-5{
    line-height: 1.5
}
.status {
    display: flex;
    &__content{
        width: 100%
    }
}

ul{ 
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        font-size: 0.9rem;
        padding: 5px 0;
        a{
            margin: 10px;
            color: $md-blue-grey-700;
            &:hover{
                color: $client-default
            }
        }
       &:before{
        content: '\e5c8';
        font-family: 'Material Icons';
        color: $client-default;
       }
        
    }
}
.mat-form-field{
    width: 100%
}
.form-row{
    align-content: start !important;
}