
<section class="authentication-container">
  <h3 class="m-0">Bem vindo de volta,</h3>
  <p class="c-grey-700">Logue para continuar</p>
    <mat-form-field>
      <input matInput ngModel  placeholder="Informe seu e-mail" name="email" #email="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel placeholder="Informe sua senha" name="password" #password="ngModel" required>
    </mat-form-field>
    <div class="peers jc-fe">
        <button mat-button class="c-grey-600" [routerLink]="['/public/recover-password']"> Esqueceu a senha? </button>
    </div>
    <div class="peers jc-fe mT-20">
        <button class="btn btn-success w-100p p-10 pX-5 bdrs-2 cur-p mR-5 fsz-md" type="button"  [routerLink]="['/admin']">
         Entrar
        </button>
    </div>

    <div class="peers mT-20">
      <p class="fsz-sm m-0">Ainda não tem acesso ao sistema?  <button class=" btn p-0 c-client-default fsz-sm" [routerLink]="['/public/register']"> Clique aqui </button> para se cadastrar</p>
       
    </div>
  
  </section>