<div class="col1-app">

  <div class="approvals">
    <div id="collapsed-content" class="user__block-image p-10 peers h-100p bgc-grey-100 is-collapsed">
      <div class="ps psb h-100p left-bar" perfectScrollbar>
        <div class="pX-20">
          <h5 class="m-0">Santander Casa 3</h5>
          <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
            Vila Prudente - São Paulo - Br</p>
          <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
        </div>
        <div class="pX-20 pT-20 mT-20 pos-r">
          <section class="menu-divider divider-top bdT w-100"><span class="bgc-grey-100">Indicadores</span></section>
        </div>
        <div class="pX-20">
          <h5 class="m-0">Santander Casa 3</h5>
          <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
            Vila Prudente - São Paulo - Br</p>
          <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
        </div>
      </div>
    </div>
    <div class="approvals__block-form bgc-white pX-20">
      <!-- Atendimentos -->

      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left">
          <div class="content-header__title">
            <div class="peers">
              <button id="left-bar-toggle-button" type="button" class="sidebar-toggle" appToggleLeftBar></button>
              <div>
                <h3 class="mB-0">Santander Casa 3 <span class="pY-0 mB-5 bdrs-2 mR-5 cur-p c-client-secondary">
                    <i class="fa fa-info-circle fsz-md"></i>
                  </span>
                </h3>
                <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
              </div>
            </div>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->

        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <div class="peers">
            <button class="modal-toogle btn btn-success peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Pendente
            </button>
            <button class="modal-toogle btn btn-warning peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Revisão
            </button>
            <button class="modal-toogle btn btn-danger peers ai-c pX-5 bdrs-2 cur-p mR-5" type="button">
              Rejeitadas
            </button>
            <button class="modal-toogle btn btn-primary peers ai-c pX-5 bdrs-2 cur-p" type="button">
              Todas
            </button>
          </div>
        </div>
      </div>
      <div class="table-header peers ai-c jc-sb pY-10 pX-20 bdB">
        <div class="w-100p">
          <span class="d-n@sm-"> Nome </span>
          <span class="d-n@sm+"> Endereço </span>
        </div>
        <div class="d-n@sm- w-100p">
          <span> Endereço </span>
        </div>
        <div class="d-n@md- w-100p">
          <span> Cadastro </span>
        </div>
        <div class="w-50p status-area">
          Status
        </div>
        <div class="w-33p ta-c status-area">

        </div>
      </div>

      <!-- content scroll -->
      <!--<div class="scrollable h-100p mY-10 mX-10">-->
      <div class="ps psb" perfectScrollbar>
        <div class="w-100p pX-10">



          <!-- Atendimentos -->
          <div class="table-body peers jc-sb pY-20 bdB" *ngFor="let i of [1,2,3,4,5,6,7,8,910,11,12,13,14,15,16]">

            <div class="w-100p peers">
              <div class="list-image">
                <img src="https://www.devmedia.com.br/Imagens/gold/CD/87/artigo6/image.jpg" />
              </div>
              <span class="mB-5 mT-0">
                <span class="fsz-xs c-client-default m-0 d-n@sm+">Fisio: </span>Salomão da Fonseca</span>
              <span class="m-0 d-n@sm+"><span class="fsz-xs c-client-default m-0">Médico: </span>Dr.Alfredo Pimenta</span>
              <div class="d-n@md+ w-100p mT-10">
                <span class="m-0"><span class="fsz-xs c-client-default">Consulta </span><br>20/07/2018 às 15:45</span>
                <span class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</span>
              </div>

              <!--<div class="peers mT-5 d-n@sm+">
                              <span class="badge badge-pill fsz-xs bgc-green-500 c-white mR-5 badge-vs">Pago</span>
                              <span class="badge badge-pill badge-equal bgc-red-50 c-red-700 badge-vs">Cancelado</span>
                          </div>-->
            </div>
            <div class="d-n@sm- w-100p">
              <span class="m-0">Rua: Alfredo Pimenta</span>
            </div>
            <div class="d-n@md- w-100p">
              <span class="m-0">20/07/2018 às 15:45</span>
              <!--<h5 class="fsz-sm c-client-secondary m-0 p-0">(Domiciliar)</h5>-->
            </div>
            <div class="w-50p peers status-area">
              <div class="status-indicator pending"><span>Pendente</span></div>
              <!--<button class="btn btn-clear pX-5 pY-0 bdrs-2 mR-5 cur-p  c-client-secondary" type="button">
                              <i class="fa fa-ellipsis-h fsz-xl"></i>
                          </button>-->
            </div>
            <div class="w-33p peers jc-fe">
              <button class="btn btn-muted-primary  peers ai-c bdrs-2 p-5 cur-p mR-5" type="button" [routerLink]="['./', '1']">
                <i class="material-icons fsz-md"> edit </i>
              </button>
              <button class="btn btn-muted-danger  peers ai-c bdrs-2 p-5 cur-p" type="button" (click)="initLoginModal()">
                <i class="material-icons fsz-md"> delete </i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <!--  Pagination -->
      <div class="pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>