<section class="register-container">
  <h3 class="m-0">Seja bem vindo,</h3>
  <p class="c-grey-700">Informe seus dados</p>
  <mat-form-field>
    <input matInput ngModel placeholder="Organização" name="Organization" #Organization="ngModel" required>
  </mat-form-field>
  <mat-form-field class="w-100p">
    <input matInput ngModel placeholder="Endereço" name="Address" #Address="ngModel" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel placeholder="N" name="Number" #Number="ngModel" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput ngModel placeholder="Informe seu e-mail" name="email" #email="ngModel" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput ngModel placeholder="Informe sua senha" name="password" #password="ngModel" required>
  </mat-form-field>
  <div class="peers jc-fe mT-20">
    <button class="btn btn-success w-100p p-10 pX-5 bdrs-2 cur-p mR-5 fsz-md" type="button">
      Enviar
    </button>
  </div>

  <div class="peers mT-20">
    <p class="fsz-sm m-0">Já é registrado? <button class=" btn p-0 c-client-default fsz-sm" [routerLink]="['../login']">
        Clique aqui </button> e faça o login</p>

  </div>

</section>