<div class="calendar">
  <div class="calendar-navs">
    <div class="year-nav">
      <button (click)="prevYear()"><i class="left"></i></button>
      <h3 class="p4">{{ currentDate.format('YYYY') }}</h3>
      <button (click)="nextYear()"> <i class="right"></i></button>
    </div>
    <div class="month-nav">
      <button (click)="prevMonth()"><i class="left"></i></button>
      <h2 class="p4"><b>{{ currentDate.format('MMMM') }}</b></h2>
      <button (click)="nextMonth()"><i class="right"></i></button>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9 c-gray">
        {{ name }}
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week">
          <!--<div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                        <span class="date-text c-gray">{{ day.mDate.date() }}</span>
                    </div>-->
          <!-- *ngIf="isSelectedMonth(day.mDate)" -->
          <div style="width:100%; height:100%" [ngClass]="!isSelectedMonth(day.mDate) ? 'another-month':'' ">
            <div class="week-date enabled" (click)="selectDate(day)" [ngClass]="{ today: day.today, selected: day.selected, selected: (day.mDate.dayOfYear() === selectedDate) && !cleaner }">
              <span class="date-text" [ngClass]="day.mDate.isoWeekday() === 7 ? 'sunday': ''">{{ day.mDate.date() }}</span>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
  </div>
  <!--<div class="clear-calendar show-calendar-clear-button inactive" [ngClass]=" (cleaner || selectedDate) ? 'active':'inactive'">
        <button type="button">Limpar</button>
    </div>-->
</div>