$dayBase: 100%;
$cloud:#ccc;
$base:5px;
$concrete:#fff;
$seafoam:#f2f2f2;
$white:#fff;
$teal:black;
$light-blue-grey:#B1C1CC;
$blue-grey:#777;
$client-default: #4caf4f;
button{
    display: block;
    padding: 0;
    background: transparent;
    border: none;
    width: 20px;
    margin: 0 3px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus{
     outline: none;
     border: none;
    }
    &:hover{
        background: rgba($light-blue-grey, 0.15);
    }
}

i {
    border: solid $light-blue-grey;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
      margin-left: -2px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
     margin-right: -2px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
.p4{
    color: $teal;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.sunday{
    color: #f44336
}
.another-month{
    opacity: 0.3;
}
.c-gray{
    color: $blue-grey
}
.calendar {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  * {
    box-sizing: border-box;
   
  }

  .calendar-navs {
    display: flex;
    flex-flow: column;
    padding: 20px 0;
  }

  .month-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    color: $light-blue-grey;
  }

  .year-nav {
    display: flex;
    // flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    color: $light-blue-grey;
    height: 40px;
  }

  .month-grid {
      height: 100%;
      display: flex;
      flex-flow: column;
    .day-names {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background: #f9fafb;
      margin-bottom: 10px
      // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    }
    .weeks {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .week {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      padding: 5px 0;
      border-bottom: 1px solid rgba($light-blue-grey, 0.3);
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: $base;
      display: block;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: $seafoam;
          }
        }
      }
      &.selected {
        color: $white;
        &:after {
          background-color: $client-default;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      &.disabled {
        color: $light-blue-grey !important;
      }
    }

    .today {
      font-weight: bold;
      border: 1px solid $light-blue-grey;
      border-radius: 15px;
    }
  }
  .clear-calendar {
      width: 100%;
      border-top: 1px solid #f2f2f2;
      display: flex;
      justify-content: center;
      padding: 5px 0;
      transition: all 0.3s ease-in-out;
    button{
        background-color: $seafoam;
        border: none;
        font-size: 0.7em;
        border-radius: 30px;
        &:hover{
            background-color: $teal;
            color: $cloud
        }
    }
  }
  .show-calendar-clear-button {
    transition: all 0.3s ease-in-out;
    &.active{
        height: 30px;
    }
    &.inactive {
        height: 0;
    }
  }
} 