@import './../../../assets/styles/settings/breakPoints';
@import './../../../assets/styles/tools/index';
.exp-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    @include to($breakpoint-sm) {
        // padding-top: $header-height;
        padding: 0 8%;
      }
}