@import "~bootstrap/scss/bootstrap";
// @import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import './styles/index.scss';
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-green, 500);
$candy-app-accent:  mat-palette($mat-green, 500, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);