<section class="forgot-password-container">
  <h3 class="m-0">Vamos recuperar sua senha!</h3>
  <p class="c-grey-700">Por favor, nos informe seu e-mail</p>
  <mat-form-field>
    <input matInput ngModel placeholder="Informe seu e-mail" name="email" #email="ngModel" required>
  </mat-form-field>
  <div class="peers jc-fe mB-20 mT-20">
    <button class="btn btn-success w-100p p-10 pX-5 bdrs-2 cur-p mR-5 fsz-md" type="button">
      Entrar
    </button>
  </div>
  <div class="peers jc-c">
    <button mat-button class="c-grey-600" [routerLink]="['/public']"> Voltar para home</button>
  </div>
</section>