.loader-hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width:100%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 9999;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-message {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  flex-flow: column wrap;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #666;
}
.loader-text{
  font-size: 12px;
  font-weight: 500
}

.ios-loader {
	position: relative;
	width: 54px;
	height: 54px;

}

.ios-loader .bar {
	width: 3px;
	height: 10px;
	background: #fff;
	position: absolute;
	left: 44.5%;
	top: 37%;
	border-radius: 12px;
	background-color: #fff;
	animation: fade 1s linear infinite;
}

@-webkit-keyframes fade { from {background: #000} to {background: #fff;} }
@keyframes         fade { from {background: #000} to {background: #fff;} }

.ios-loader .bar1 {
	transform: rotate(-330deg) translate(0px, -142%);
	animation-delay: -0.916s;
}
.ios-loader .bar2 {
	transform: rotate(-300deg) translate(0px, -142%);
	animation-delay: -0.833s;
}
.ios-loader .bar3 {
	transform: rotate(-270deg) translate(0px, -142%);
	animation-delay: -0.75s;
}
.ios-loader .bar4 {
	transform: rotate(-240deg) translate(0px, -142%);
	animation-delay: -0.666s;
}
.ios-loader .bar5 {
	transform: rotate(-210deg) translate(0px, -142%);
	animation-delay: -0.583s;
}
.ios-loader .bar6 {
	transform: rotate(-180deg) translate(0px, -142%);
	animation-delay: -0.5s;
}
.ios-loader .bar7 {
	transform: rotate(-150deg) translate(0px, -142%);
	animation-delay: -0.416s;
}
.ios-loader .bar8 {
	transform: rotate(-120deg) translate(0px, -142%);
	animation-delay: -0.333s;
}
.ios-loader .bar9 {
	transform: rotate(-90deg) translate(0px, -142%);
	animation-delay: -0.25s;
}
.ios-loader .bar10 {
	transform: rotate(-60deg) translate(0px, -142%);
	animation-delay: -0.166s;
}
.ios-loader .bar11 {
	transform: rotate(-30deg) translate(0px, -142%);
	animation-delay: -0.083s;
}
.ios-loader .bar12 {
	transform: rotate(-0deg) translate(0px, -142%);
	animation-delay: 0s;
}
