/* You can add global styles to this file, and also import other style files */
@import './assets/_variables';

/* Flexbox require component be 100% height */
app-register {
    height: 100%;
    display: flex;
    align-items: center;
}
/* Flexbox require component be 100% height */
app-authentication {
    height: 100%;
    display: flex;
    align-items: center;
}