@import './../../../assets/styles/settings/breakPoints';
@import './../../../assets/styles/tools/index';
.dashboard {
    display: flex;
    width: 100%;
    &__block-image{
        width: 300px;
        min-width: 300px;
        overflow-x: hidden;
    }

   &__block-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
       
    }
}

.profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px
    }
}
.lh-1-5{
    line-height: 1.5
}
.list-image{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 6px;
       
    }
}
.report-block{
    width: 250px;

    &__action{
        display: flex;
        width: 100%
    }
}
app-calendar{
    width: 100%
}

app-highcharts-custom-component{
   width: 100%;
}

.value{
    text-align: end;
    width: 100%
}

.top-chart{
    display: flex;
}
.history {
    padding: 0 20px;
    width: 300px;
    min-width: 300px;
}
.history-progress {
    height: 6px;
}