<div class="p-20 h-100p page-flex-content bgc-grey-100">
    <div class="peers jc-sb pB-10">
      <h4 class="pX-20">Dashboard</h4>
      <span>{{'Trash' | translate}}</span>
    </div>
    https://www.npmjs.com/package/angular-highcharts
    <div class="table scrollable m-0  p-0">
      <button (click)="add()">Add Point!</button>
      <div class="row">
        <div class="col-md-12 mB-30">
          <div style="display: flex; flex-flow:row; width: 100%">
            <div style="width: 50%">
              <div class="card of-h">
                <div class="peers ai-c jc-sb chart-header pX-20">
                  <div>
                    <h5 class="m-0">Mensagens</h5>
                    <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
                  </div>
                  <button type="button" class="btn btn-outline-default pX-5 pY-0">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="clearfix"></div>
                <app-highcharts-custom-component [data]="data" [type]="'column'"></app-highcharts-custom-component>
                <div [chart]="chart2"></div>
              </div>
            </div>
            <div class="m-20 card">
              <app-calendar (onSelectDate)="dateSelected($event)" [cleaner]="cleaner" [calendarSelected]="calendarSelected"></app-calendar>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 mB-30 card">
              <app-schedule></app-schedule>
            </div>
      </div>

      <div class="row">
        <div class="col-md-12 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <div [chart]="chart2"></div>
          </div>
        </div>
        <div class="col-md-12 mB-30">
          <div class="card of-h ">
  
            <div class="clearfix"></div>
            <div class="table-body">
              <div class="w-100p">
                <div class="peers ai-c jc-c chart-header">
                  <div class="stv-radio-buttons-wrapper peers jc-c  w-100p">
                    <input type="radio" class="stv-radio-button" name="tab" value="1" id="personalData" checked />
                    <label for="personalData">Todas</label>
                    <input type="radio" class="stv-radio-button" name="tab" value="2" id="address" />
                    <label for="address">Recebidas</label>
                    <input type="radio" class="stv-radio-button" name="tab" value="3" id="mySchedules" />
                    <label for="mySchedules">Enviadas</label>
                  </div>
                </div>
                <div [chart]="chart"></div>
              </div>
              <div class="w-25p bdL history">
                <div class="peers ai-c chart-header">
                  <div class="c-client-secondary">Histórico</div>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary ">Average Performance</span>
                    <span>2 anos</span>
                  </div>
                  <h2 class="c-blue-500">+35.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Best Performance</span>
                    <span>2013</span>
                  </div>
                  <h2 class="c-blue-500">+65.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Worst Performance</span>
                    <span>2016</span>
                  </div>
                  <h2 class="c-red-500">-25.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate</span>
                    <span>33%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 33%"></div>
                  </div>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate 2</span>
                    <span>63%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 63%"></div>
                  </div>
                </div>
                <div class="history-block mT-30 ta-c">
                  <button type="button" class="btn btn-outline-default">Ver mais </button>
                </div>
  
  
              </div>
            </div>
  
  
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <div [chart]="chart"></div>
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <app-highcharts-custom-component [data]="data" [type]="'line'"></app-highcharts-custom-component>
               
            <div class="clearfix"></div>
            <div class="table-header ai-c jc-sb pX-20 bdT">
              <div class="ta-c w-100p bdR pY-10">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
              <div class="ta-c  w-100p  bdR pY-10">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
              <div class="ta-c w-100p">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <div class="ta-r">
                <span class="fsz-xs c-client-secondary">Somente recebidos</span>
                <label class="toggle-checkbox">
                  <input type="checkbox" id="closeClick" name="activadClient" checked="">
                  <i></i>
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div style="display:flex;flex-flow: column;height:339px">
  
              <div class="table-header peers jc-sb ai-c p-30  bdB">
                <div class="w-100p">
                  <b>Nome</b>
                </div>
                <div class="w-100p">
                  <b>Data</b>
                </div>
                <div class="w-100p">
                  <b>Criador</b>
                </div>
                <div>...</div>
              </div>
              <div class="table scrollable p-0 m-0 bgc-white">
                <div class="table-body bdB peers jc-sb ai-c pX-20 pY-10" *ngFor="let orcamento of [0,1,2,3,4,5,6,7,8,9,10]">
                  <div class="w-100p">
                    Mensagem
                  </div>
                  <div class="w-100p">
                    Usuario
                  </div>
                  <div class="w-100p">
                    Data
                  </div>
                  <div>
                    <button class="open-details btn btn-clear pX-5 pY-0 bdrs-2 mR-5 cur-p  c-client-secondary" type="button"
                      (click)="editar(orcamento.id)">
                      <i class="fa fa-pencil fsz-md"></i>
                    </button>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="clearfix"></div>
            <div class="table-header ai-c jc-c pY-10 bdT">
              <button type="button" class="btn btn-outline-default">Ver mais </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <div [chart]="chart2"></div>
          </div>
        </div>
        <div class="col-md-12 mB-30">
          <div class="card of-h ">
  
            <div class="clearfix"></div>
            <div class="table-body">
              <div class="w-100p">
                <div class="peers ai-c jc-c chart-header">
                  <div class="stv-radio-buttons-wrapper peers jc-c  w-100p">
                    <input type="radio" class="stv-radio-button" name="tab" value="1" id="personalData" checked />
                    <label for="personalData">Todas</label>
                    <input type="radio" class="stv-radio-button" name="tab" value="2" id="address" />
                    <label for="address">Recebidas</label>
                    <input type="radio" class="stv-radio-button" name="tab" value="3" id="mySchedules" />
                    <label for="mySchedules">Enviadas</label>
                  </div>
                </div>
                <div [chart]="chart"></div>
              </div>
              <div class="w-25p bdL history">
                <div class="peers ai-c chart-header">
                  <div class="c-client-secondary">Histórico</div>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary ">Average Performance</span>
                    <span>2 anos</span>
                  </div>
                  <h2 class="c-blue-500">+35.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Best Performance</span>
                    <span>2013</span>
                  </div>
                  <h2 class="c-blue-500">+65.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Worst Performance</span>
                    <span>2016</span>
                  </div>
                  <h2 class="c-red-500">-25.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate</span>
                    <span>33%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 33%"></div>
                  </div>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate 2</span>
                    <span>63%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 63%"></div>
                  </div>
                </div>
                <div class="history-block mT-30 ta-c">
                  <button type="button" class="btn btn-outline-default">Ver mais </button>
                </div>
  
  
              </div>
            </div>
  
  
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <div [chart]="chart"></div>
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <button type="button" class="btn btn-outline-default pX-5 pY-0">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="clearfix"></div>
            <app-highcharts-custom-component [data]="data" [type]="'line'"></app-highcharts-custom-component>
               
            <div class="clearfix"></div>
            <div class="table-header ai-c jc-sb pX-20 bdT">
              <div class="ta-c w-100p bdR pY-10">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
              <div class="ta-c  w-100p  bdR pY-10">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
              <div class="ta-c w-100p">
                <h5 class="m-0">4800 views</h5>
                <span class="c-client-secondary fsz-sm">Goal status</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mB-30">
          <div class="card of-h">
            <div class="peers ai-c jc-sb chart-header pX-20">
              <div>
                <h5 class="m-0">Mensagens</h5>
                <span class="c-client-secondary fsz-sm">Mensagens recebidas ou enviadas</span>
              </div>
              <div class="ta-r">
                <span class="fsz-xs c-client-secondary">Somente recebidos</span>
                <label class="toggle-checkbox">
                  <input type="checkbox" id="closeClick" name="activadClient" checked="">
                  <i></i>
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div style="display:flex;flex-flow: column;height:339px">
  
              <div class="table-header peers jc-sb ai-c p-30  bdB">
                <div class="w-100p">
                  <b>Nome</b>
                </div>
                <div class="w-100p">
                  <b>Data</b>
                </div>
                <div class="w-100p">
                  <b>Criador</b>
                </div>
                <div>...</div>
              </div>
              <div class="table scrollable p-0 m-0 bgc-white">
                <div class="table-body bdB peers jc-sb ai-c pX-20 pY-10" *ngFor="let orcamento of [0,1,2,3,4,5,6,7,8,9,10]">
                  <div class="w-100p">
                    Mensagem
                  </div>
                  <div class="w-100p">
                    Usuario
                  </div>
                  <div class="w-100p">
                    Data
                  </div>
                  <div>
                    <button class="open-details btn btn-clear pX-5 pY-0 bdrs-2 mR-5 cur-p  c-client-secondary" type="button"
                      (click)="editar(orcamento.id)">
                      <i class="fa fa-pencil fsz-md"></i>
                    </button>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="clearfix"></div>
            <div class="table-header ai-c jc-c pY-10 bdT">
              <button type="button" class="btn btn-outline-default">Ver mais </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="row p-0 pos-r pY-10 pX-30 bgc-grey-100" style="display: grid">

              <div class="w-100">
                <div class="row mR-0 mL-0">
            
                  <div class="w-100">
                    <section class="col-100 text-center home-section">
                      <h2 class="no-margin ng-binding">Aldenir Flauzino</h2>
                      <p class="intro text-center  text-secondary" ng-bind="selectedTeam.program.name">Administrador do sistema</p>
                    </section>
            
                    <div class="getting-started">
                      <a class="hover-box">
                        <section class="label-image">
                          <div class="no-list-select-content__icon">
                            <i class="ti-help-alt"></i>
                          </div>
                        </section>
                        <section class="label-content">
                          <p class="font-semibold mB-0">People</p>
                          <p class="no-margin-bottom text-secondary">Send invitations to your development team so they can take advantage of membership resources.</p>
                        </section>
                      </a>
                      <a class="hover-box">
                        <section class="label-image">
                          <div class="no-list-select-content__icon">
                            <i class="ti-help-alt"></i>
                          </div>
                        </section>
                        <section class="label-content">
                          <p class="font-semibold mB-0">People</p>
                          <p class="no-margin-bottom text-secondary">Send invitations to your development team so they can take advantage of membership resources.</p>
                        </section>
                      </a>
                      <a class="hover-box">
                        <section class="label-image">
                          <div class="no-list-select-content__icon">
                            <i class="ti-help-alt"></i>
                          </div>
                        </section>
                        <section class="label-content">
                          <p class="font-semibold mB-0">People</p>
                          <p class="no-margin-bottom text-secondary">Send invitations to your development team so they can take advantage of membership resources.</p>
                        </section>
                      </a>
                    </div>
            
                  </div>
                  <section class="col-100 w-100 padding-right-small bdB">
                      <span>Membership Information</span>
                    </section>
                    <section class="menu-divider divider-top w-100">
                      <span>Additional Resources</span>
                    </section>
                  <ul class="m-0 p-0 w-100">
            
                    <!-- Team program -->
                    <li class="row table-row bdB m-0">
                      <section class="col-25">
                        <p class="font-semibold">Program Type</p>
                      </section>
                      <section class="col-75">
                        <p class="ng-binding">Apple Developer Program</p>
                      </section>
                    </li>
            
                    <!-- Team name -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Team Name</p>
                      </section>
                      <section class="col-75">
                        <p ng-bind="::selectedTeam.name" class="ng-binding">BooktoGo Agencia de Turismo E Servicos Digitais Ltda Me</p>
                      </section>
                    </li>
            
                    <!-- Team ID -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Team ID</p>
                      </section>
                      <section class="col-75">
                        <p ng-bind="::selectedTeam.teamId" class="ng-binding">E348L2EBEM</p>
                      </section>
                    </li>
            
                    <!-- Team entity type -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Entity Type</p>
                      </section>
                      <section class="col-75">
                        <p>
                          <span ng-bind="::selectedTeam.entityTypeLabel" class="ng-binding">Company / Organization</span>
                          <!-- ngIf: isFeeWaivedTeam() -->
                        </p>
                      </section>
                    </li>
            
                    <!-- Team phone -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Phone</p>
                      </section>
                      <section class="col-75">
                        <p>
                          <!-- ngIf: ::selectedTeam.phone -->
                          <a ng-if="::selectedTeam.phone" ng-bind="::selectedTeam.phone" ng-href="tel:55-11968901442" class="ng-binding ng-scope" href="tel:55-11968901442">55-11968901442</a>
                          <!-- end ngIf: ::selectedTeam.phone -->
                        </p>
                      </section>
                    </li>
            
                    <!-- Team Address -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Address</p>
                      </section>
                      <section class="col-75">
            
                        <span class="block ng-binding" ng-bind="selectedTeam.address.streetAddress1">Rua Doutor Mario Vicente 1561</span>
            
                        <span class="block ng-binding ng-hide" ng-bind="selectedTeam.address.streetAddress2" ng-show="selectedTeam.address.streetAddress2"></span>
            
                        <span class="block" ng-show="selectedTeam.address.state &amp;&amp; selectedTeam.address.state !== 'N/A'">
                          <span ng-bind="selectedTeam.address.city | capitalize" class="ng-binding">Sao Paulo</span>,
                          <span ng-bind="selectedTeam.address.state | capitalize" class="ng-binding">São Paulo</span>
                          <span ng-bind="selectedTeam.address.postalCode" class="ng-binding">04270-002</span>
                        </span>
            
                        <span class="block ng-hide" ng-show="!selectedTeam.address.state || selectedTeam.address.state === 'N/A'">
                          <span ng-bind="selectedTeam.address.city | capitalize" class="ng-binding">Sao Paulo</span>
                          <span ng-bind="selectedTeam.address.postalCode" class="ng-binding">04270-002</span>
                        </span>
            
                        <span class="block ng-binding" ng-bind="selectedTeam.address.country | capitalize">Brazil</span>
            
                      </section>
                    </li>
            
                    <!-- Team expiration date -->
                    <!-- ngIf: !programIsUniversity() -->
                    <li class="row table-row bdB ng-scope" ng-if="!programIsUniversity()">
                      <section class="col-25">
                        <p class="font-semibold">Expiration Date</p>
                      </section>
                      <section class="col-75">
                        <p ng-bind="selectedTeam.program.dateExpires | date : 'MMMM dd, yyyy' : 'PST'" class="ng-binding">June 28, 2018</p>
                      </section>
                    </li>
                    <!-- end ngIf: !programIsUniversity() -->
            
                    <!-- Device reset date -->
                    <!-- ngIf: !programIsUniversity() -->
                    <li class="row table-row bdB ng-scope" ng-if="!programIsUniversity()">
                      <section class="col-25">
                        <p class="font-semibold">Device Reset Date</p>
                      </section>
                      <section class="col-75">
                        <p ng-bind="selectedTeam.nextDeviceResetDate | date : 'MMMM dd, yyyy' : 'PST'" class="ng-binding">June 28, 2018</p>
                      </section>
                    </li>
                    <!-- end ngIf: !programIsUniversity() -->
            
                    <!-- Team agent -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Team Agent</p>
                      </section>
                      <section class="col-75">
                        <a ng-href="mailto:felix@booktogo.com.br" ng-bind="selectedTeam.agent.fullName" class="ng-binding" href="mailto:felix@booktogo.com.br">Felix Rode</a>
                      </section>
                    </li>
            
                    <!-- User role -->
                    <li class="row table-row bdB">
                      <section class="col-25">
                        <p class="font-semibold">Your Role</p>
                      </section>
                      <section class="col-75">
                        <p ng-bind="selectedTeam.userRoleLabel" class="ng-binding">Member</p>
                      </section>
                    </li>
            
                  </ul>
                  <div class="w-100">
                    <li class="setting row table-row bdB">
            
                      <section class="w-100 leave-admin">
            
                        <!-- Leave team button -->
                        <button class=" btn btn-danger">Leave Team</button>
            
                        <!-- Context -->
                        <p class="text-secondary small">If you leave this team, you will no longer have access to any development resources associated with your membership.</p>
            
                      </section>
            
                    </li>
                  </div>
                </div>
              </div>
              <hr class="w-100">
              <div class="col-12">
                <!-- #Site Visits ==================== -->
                <div class="bd bgc-white">
                  <div class="peers fxw-nw@lg+ ai-s">
                    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                      <div class="layers">
                        <div class="layer w-100 mB-10">
                          <h6 class="lh-1">Site Visits</h6>
                        </div>
                        <div class="layer w-100">
                          <div id="world-map-marker"></div>
                        </div>
                      </div>
                    </div>
                    <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
                      <div class="layers">
                        <div class="layer w-100">
                          <!-- Progress Bars -->
                          <div class="layers">
                            <div class="layer w-100">
                              <h5 class="mB-5">100k</h5>
                              <small class="fw-600 c-grey-700">Visitors From USA</small>
                              <span class="pull-right c-grey-600 fsz-sm">50%</span>
                              <div class="progress mT-10">
                                <div class="progress-bar bgc-deep-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                  style="width:50%;">
                                  <span class="sr-only">50% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="layer w-100 mT-15">
                              <h5 class="mB-5">1M</h5>
                              <small class="fw-600 c-grey-700">Visitors From Europe</small>
                              <span class="pull-right c-grey-600 fsz-sm">80%</span>
                              <div class="progress mT-10">
                                <div class="progress-bar bgc-green-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                                  <span class="sr-only">80% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="layer w-100 mT-15">
                              <h5 class="mB-5">450k</h5>
                              <small class="fw-600 c-grey-700">Visitors From Australia</small>
                              <span class="pull-right c-grey-600 fsz-sm">40%</span>
                              <div class="progress mT-10">
                                <div class="progress-bar bgc-light-blue-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                  style="width:40%;">
                                  <span class="sr-only">40% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="layer w-100 mT-15">
                              <h5 class="mB-5">1B</h5>
                              <small class="fw-600 c-grey-700">Visitors From India</small>
                              <span class="pull-right c-grey-600 fsz-sm">90%</span>
                              <div class="progress mT-10">
                                <div class="progress-bar bgc-blue-grey-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                                  <span class="sr-only">90% Complete</span>
                                </div>
                              </div>
                            </div>
                          </div>
            
                          <!-- Pie Charts -->
                          <div class="peers pT-20 mT-20 bdT fxw-nw@lg+ jc-sb ta-c gap-10">
                            <div class="peer">
                              <div class="easy-pie-chart" data-size='80' data-percent="75" data-bar-color='#f44336'>
                                <span></span>
                              </div>
                              <h6 class="fsz-sm">New Users</h6>
                            </div>
                            <div class="peer">
                              <div class="easy-pie-chart" data-size='80' data-percent="50" data-bar-color='#2196f3'>
                                <span></span>
                              </div>
                              <h6 class="fsz-sm">New Purchases</h6>
                            </div>
                            <div class="peer">
                              <div class="easy-pie-chart" data-size='80' data-percent="90" data-bar-color='#ff9800'>
                                <span></span>
                              </div>
                              <h6 class="fsz-sm">Bounce Rate</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- #Monthly Stats ==================== -->
                <div class="bd bgc-white">
                  <div class="layers">
                    <div class="layer w-100 pX-20 pT-20">
                      <h6 class="lh-1">Monthly Stats</h6>
                    </div>
                    <div class="layer w-100 p-20">
                      <canvas id="line-chart" height="220"></canvas>
                    </div>
                    <div class="layer bdT p-20 w-100">
                      <div class="peers ai-c jc-c gapX-20">
                        <div class="peer">
                          <span class="fsz-def fw-600 mR-10 c-grey-800">10%
                            <i class="fa fa-level-up c-green-500"></i>
                          </span>
                          <small class="c-grey-500 fw-600">APPL</small>
                        </div>
                        <div class="peer fw-600">
                          <span class="fsz-def fw-600 mR-10 c-grey-800">2%
                            <i class="fa fa-level-down c-red-500"></i>
                          </span>
                          <small class="c-grey-500 fw-600">Average</small>
                        </div>
                        <div class="peer fw-600">
                          <span class="fsz-def fw-600 mR-10 c-grey-800">15%
                            <i class="fa fa-level-up c-green-500"></i>
                          </span>
                          <small class="c-grey-500 fw-600">Sales</small>
                        </div>
                        <div class="peer fw-600">
                          <span class="fsz-def fw-600 mR-10 c-grey-800">8%
                            <i class="fa fa-level-down c-red-500"></i>
                          </span>
                          <small class="c-grey-500 fw-600">Profit</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- #Todo ==================== -->
                <div class="bd bgc-white p-20">
                  <div class="layers">
                    <div class="layer w-100 mB-10">
                      <h6 class="lh-1">Todo List</h6>
                    </div>
                    <div class="layer w-100">
                      <ul class="list-task list-group" data-role="tasklist">
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Call John for Dinner</span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall2" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Book Boss Flight</span>
                              <span class="peer">
                                <span class="badge badge-pill fl-r badge-success lh-0 p-10">2 Days</span>
                              </span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall3" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall3" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Hit the Gym</span>
                              <span class="peer">
                                <span class="badge badge-pill fl-r badge-danger lh-0 p-10">3 Minutes</span>
                              </span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall4" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall4" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Give Purchase Report</span>
                              <span class="peer">
                                <span class="badge badge-pill fl-r badge-warning lh-0 p-10">not important</span>
                              </span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall5" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall5" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Watch Game of Thrones Episode</span>
                              <span class="peer">
                                <span class="badge badge-pill fl-r badge-info lh-0 p-10">Tomorrow</span>
                              </span>
                            </label>
                          </div>
                        </li>
                        <li class="list-group-item bdw-0" data-role="task">
                          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall6" name="inputCheckboxesCall" class="peer">
                            <label for="inputCall6" class=" peers peer-greed js-sb ai-c">
                              <span class="peer peer-greed">Give Purchase report</span>
                              <span class="peer">
                                <span class="badge badge-pill fl-r badge-success lh-0 p-10">Done</span>
                              </span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- #Sales Report ==================== -->
                <div class="bd bgc-white">
                  <div class="layers">
                    <div class="layer w-100 p-20">
                      <h6 class="lh-1">Sales Report</h6>
                    </div>
                    <div class="layer w-100">
                      <div class="bgc-light-blue-500 c-white p-20">
                        <div class="peers ai-c jc-sb gap-40">
                          <div class="peer peer-greed">
                            <h5>November 2017</h5>
                            <p class="mB-0">Sales Report</p>
                          </div>
                          <div class="peer">
                            <h3 class="text-right">$6,000</h3>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive p-20">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class=" bdwT-0">Name</th>
                              <th class=" bdwT-0">Status</th>
                              <th class=" bdwT-0">Date</th>
                              <th class=" bdwT-0">Price</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="fw-600">Item #1 Name</td>
                              <td>
                                <span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Unavailable</span>
                              </td>
                              <td>Nov 18</td>
                              <td>
                                <span class="text-success">$12</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #2 Name</td>
                              <td>
                                <span class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c badge-pill">New</span>
                              </td>
                              <td>Nov 19</td>
                              <td>
                                <span class="text-info">$34</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #3 Name</td>
                              <td>
                                <span class="badge bgc-pink-50 c-pink-700 p-10 lh-0 tt-c badge-pill">New</span>
                              </td>
                              <td>Nov 20</td>
                              <td>
                                <span class="text-danger">-$45</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #4 Name</td>
                              <td>
                                <span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">Unavailable</span>
                              </td>
                              <td>Nov 21</td>
                              <td>
                                <span class="text-success">$65</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #5 Name</td>
                              <td>
                                <span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Used</span>
                              </td>
                              <td>Nov 22</td>
                              <td>
                                <span class="text-success">$78</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #6 Name</td>
                              <td>
                                <span class="badge bgc-orange-50 c-orange-700 p-10 lh-0 tt-c badge-pill">Used</span>
                              </td>
                              <td>Nov 23</td>
                              <td>
                                <span class="text-danger">-$88</span>
                              </td>
                            </tr>
                            <tr>
                              <td class="fw-600">Item #7 Name</td>
                              <td>
                                <span class="badge bgc-yellow-50 c-yellow-700 p-10 lh-0 tt-c badge-pill">Old</span>
                              </td>
                              <td>Nov 22</td>
                              <td>
                                <span class="text-success">$56</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="ta-c bdT w-100 p-20">
                    <a href="#">Check all the sales</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- #Weather ==================== -->
                <div class="bd bgc-white p-20">
                  <div class="layers">
                    <!-- Widget Title -->
                    <div class="layer w-100 mB-20">
                      <h6 class="lh-1">Weather</h6>
                    </div>
            
                    <!-- Today Weather -->
                    <div class="layer w-100">
                      <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer peer-greed">
                          <div class="layers">
                            <!-- Temprature -->
                            <div class="layer w-100">
                              <div class="peers fxw-nw ai-c">
                                <div class="peer mR-20">
                                  <h3>32
                                    <sup>°F</sup>
                                  </h3>
                                </div>
                                <div class="peer">
                                  <canvas class="sleet" width="44" height="44"></canvas>
                                </div>
                              </div>
                            </div>
            
                            <!-- Condition -->
                            <div class="layer w-100">
                              <span class="fw-600 c-grey-600">Partly Clouds</span>
                            </div>
                          </div>
                        </div>
                        <div class="peer">
                          <div class="layers ai-fe">
                            <div class="layer">
                              <h5 class="mB-5">Monday</h5>
                            </div>
                            <div class="layer">
                              <span class="fw-600 c-grey-600">Nov, 01 2017</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <!-- Today Weather Extended -->
                    <div class="layer w-100 mY-30">
                      <div class="layers bdB">
                        <div class="layer w-100 bdT pY-5">
                          <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                              <span>Wind</span>
                            </div>
                            <div class="peer ta-r">
                              <span class="fw-600 c-grey-800">10km/h</span>
                            </div>
                          </div>
                        </div>
                        <div class="layer w-100 bdT pY-5">
                          <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                              <span>Sunrise</span>
                            </div>
                            <div class="peer ta-r">
                              <span class="fw-600 c-grey-800">05:00 AM</span>
                            </div>
                          </div>
                        </div>
                        <div class="layer w-100 bdT pY-5">
                          <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                              <span>Pressure</span>
                            </div>
                            <div class="peer ta-r">
                              <span class="fw-600 c-grey-800">1B</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <!-- Week Forecast -->
                    <div class="layer w-100">
                      <div class="peers peers-greed ai-fs ta-c">
                        <div class="peer">
                          <h6 class="mB-10">MON</h6>
                          <canvas class="sleet" width="30" height="30"></canvas>
                          <span class="d-b fw-600">32
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">TUE</h6>
                          <canvas class="clear-day" width="30" height="30"></canvas>
                          <span class="d-b fw-600">30
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">WED</h6>
                          <canvas class="partly-cloudy-day" width="30" height="30"></canvas>
                          <span class="d-b fw-600">28
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">THR</h6>
                          <canvas class="cloudy" width="30" height="30"></canvas>
                          <span class="d-b fw-600">32
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">FRI</h6>
                          <canvas class="snow" width="30" height="30"></canvas>
                          <span class="d-b fw-600">24
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">SAT</h6>
                          <canvas class="wind" width="30" height="30"></canvas>
                          <span class="d-b fw-600">28
                            <sup>°F</sup>
                          </span>
                        </div>
                        <div class="peer">
                          <h6 class="mB-10">SUN</h6>
                          <canvas class="sleet" width="30" height="30"></canvas>
                          <span class="d-b fw-600">32
                            <sup>°F</sup>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- #Chat ==================== -->
                <div class="bd bgc-white">
                  <div class="layers">
                    <div class="layer w-100 p-20">
                      <h6 class="lh-1">Quick Chat</h6>
                    </div>
                    <div class="layer w-100">
                      <!-- Chat Box -->
                      <div class="bgc-grey-200 p-20 gapY-15">
                        <!-- Chat Conversation -->
                        <div class="peers fxw-nw">
                          <div class="peer mR-20">
                            <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
                          </div>
                          <div class="peer peer-greed">
                            <div class="layers ai-fs gapY-5">
                              <div class="layer">
                                <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                  <div class="peer mR-10">
                                    <small>10:00 AM</small>
                                  </div>
                                  <div class="peer-greed">
                                    <span>Lorem Ipsum is simply dummy text of</span>
                                  </div>
                                </div>
                              </div>
                              <div class="layer">
                                <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                  <div class="peer mR-10">
                                    <small>10:00 AM</small>
                                  </div>
                                  <div class="peer-greed">
                                    <span>the printing and typesetting industry.</span>
                                  </div>
                                </div>
                              </div>
                              <div class="layer">
                                <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                  <div class="peer mR-10">
                                    <small>10:00 AM</small>
                                  </div>
                                  <div class="peer-greed">
                                    <span>Lorem Ipsum has been the industry's</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <!-- Chat Conversation -->
                        <div class="peers fxw-nw ai-fe">
                          <div class="peer ord-1 mL-20">
                            <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/12.jpg" alt="">
                          </div>
                          <div class="peer peer-greed ord-0">
                            <div class="layers ai-fe gapY-10">
                              <div class="layer">
                                <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                  <div class="peer mL-10 ord-1">
                                    <small>10:00 AM</small>
                                  </div>
                                  <div class="peer-greed ord-0">
                                    <span>Heloo</span>
                                  </div>
                                </div>
                              </div>
                              <div class="layer">
                                <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                  <div class="peer mL-10 ord-1">
                                    <small>10:00 AM</small>
                                  </div>
                                  <div class="peer-greed ord-0">
                                    <span>??</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Chat Send -->
                      <div class="p-20 bdT bgc-white">
                        <div class="pos-r">
                          <input type="text" class="form-control bdrs-10em m-0" placeholder="Say something...">
                          <button type="button" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1">
                            <i class="fa fa-paper-plane-o"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <h1 class="mB-30">
              Olá, Aldenir Flauzino
            </h1>
            <div>
              <div class="f-modal-alert">
                <div class="f-modal-icon f-modal-error animate">
                  <span class="f-modal-x-mark">
                    <span class="f-modal-line f-modal-left animateXLeft"></span>
                    <span class="f-modal-line f-modal-right animateXRight"></span>
                  </span>
                  <div class="f-modal-placeholder"></div>
                  <div class="f-modal-fix"></div>
                </div>
                <div class="f-modal-icon f-modal-warning scaleWarning">
                  <span class="f-modal-body pulseWarningIns"></span>
                  <span class="f-modal-dot pulseWarningIns"></span>
                </div>
                <div class="f-modal-icon f-modal-success animate">
                  <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
                  <span class="f-modal-line f-modal-long animateSuccessLong"></span>
                  <div class="f-modal-placeholder"></div>
                  <div class="f-modal-fix"></div>
                </div>
              </div>
            </div>
            
            <div class="w-100">
              <div class="row mR-0 mL-0">
                <div class='col-md-4  pL-0'>
                  <h3 class="text-secondary">
                    Estes são os seus principais indicadores
                  </h3>
                </div>
            
                <div class='col-md-8 row  pR-0'>
                  <!-- #Toatl Visits ==================== -->
                  <div class='col-md-6 mB-20 pL-0'>
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Total Visits</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash"></span>
                          </div>
                          <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <!-- #Total Page Views ==================== -->
                  <div class='col-md-6 mB-20  pR-0'>
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Total Page Views</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash2"></span>
                          </div>
                          <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">-7%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <!-- #Unique Visitors ==================== -->
                  <div class='col-md-6 mB-20  pL-0'>
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Unique Visitor</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash3"></span>
                          </div>
                          <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">~12%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <!-- #Bounce Rate ==================== -->
                  <div class='col-md-6 mB-20  pR-0'>
                    <div class="layers bd bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Bounce Rate</h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="sparklinedash4"></span>
                          </div>
                          <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
      </div>
    </div>
    <!--  Pagination -->
  </div>
