<div class="col1-app">

  <div class="dashboard">
    <!--<div class="dashboard__block-image scrollable h-100p bdR">
      <div class="peers w-100p jc-c pT-10 pX-20">
        <app-calendar (onSelectDate)="dateSelected($event)" [cleaner]="cleaner" [calendarSelected]="calendarSelected"></app-calendar>
      </div>
      <div>
        <div class="pX-20 pT-20  pos-r">
          <section class="menu-divider divider-top bdT w-100"><span>Indicadores</span></section>
        </div>
        <div class="pX-20">
          <h5 class="m-0">Santander Casa 3</h5>
          <p class="c-grey-700 m-0 lh-1-5 fsz-sm">Rua Ramos Batista 198 <br>
            Vila Prudente - São Paulo - Br</p>
          <span class="badge  badge-equal bgc-green-50 c-green-700 badge-vs">Desenvolvedor</span>
        </div>
      </div>
    </div>-->
    <div class="dashboard__block-form jc-c">
      <div class="peers w-100p ai-c jc-sb content-header">
        <div class="content-header__left mL-20  d-n@sm-">
          <div class="content-header__title">
            <h3 class="m-0">
                {{'Dashboard' | translate}}
            </h3>
          </div>
        </div>
        <!--<input class="input-muted bdc-client-secondary bgc-grey-200 m-0" type="text" placeholder="informe o nome ou cpf do cliente" />-->
        <div class="btn-group gap-10 jc-c ai-c peers" role="group">
          <button class="modal-toogle btn btn-muted-secondary peers ai-c  m-5 bdrs-2 cur-p" type="button">
            <i class="material-icons fsz-md"> search </i>
          </button>
          <button class="modal-toogle btn btn-success peers ai-c  m-5 bdrs-2 cur-p" type="button">
            <i class="material-icons fsz-md"> add </i>
          </button>
        </div>
      </div>
      <!-- content scroll -->
      <div class="ps psb peers jc-c mY-10 mX-10" perfectScrollbar>
        <!--div class="scrollable h-100p peers jc-c mY-10 mX-10">-->

        <div class="col-sm-12 m-0">
          <div class="card pY-20">
            <h4 class="mX-20 mB-10"> {{'Historic' | translate}}</h4>
            <div class="top-chart">
              <app-highcharts-custom-component [data]="data" [type]="'areaspline'" [chartHeight]="'300'"></app-highcharts-custom-component>
              <div class="history">
                <div class="peers ai-c chart-header">
                  <h4 class="m-0 ta-c">{{'Historic' | translate}}</h4>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary ">Average Performance</span>
                    <span>2 anos</span>
                  </div>
                  <h3 class="c-client-default">+35.2%</h3>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Best Performance</span>
                    <span>2013</span>
                  </div>
                  <h2 class="c-client-default">+65.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb">
                    <span class="c-client-secondary">Worst Performance</span>
                    <span>2016</span>
                  </div>
                  <h2 class="c-red-500">-25.2%</h2>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate</span>
                    <span>33%</span>
                  </div>
                  <div class="progress history-progress">
                    <div class="progress-bar progress-bar-animated bgc-green-500" role="progressbar" style="width: 33%"></div>
                  </div>
                </div>
                <div class="history-block mB-20">
                  <div class="fsz-xs peers jc-sb mB-5">
                    <span class="c-client-secondary">Rate 2</span>
                    <span>63%</span>
                  </div>
                  <div class="progress history-progress">
                    <div class="progress-bar progress-bar-animated bgc-green-500" role="progressbar" style="width: 63%"></div>
                  </div>
                </div>
                <div class="history-block mT-30 ta-c">
                  <button type="button" class="btn btn-outline-default">Ver mais </button>
                </div>


              </div>
            </div>
          </div>


        </div>
        <div class="col-md-12 p-0">
          <div class="row mT-20">
            <div class="form-group col-md-6">
              <div class="card  p-10">
                <h4 class="m-0 mB-10 pX-20 pY-10">Histórico</h4>
                <app-highcharts-custom-component [data]="data" [type]="'column'" [chartHeight]="'300'"></app-highcharts-custom-component>
              </div>
            </div>

            <div class="form-group col-md-6">
              <div class="card  p-10">
                <h4 class="m-0 mB-10 pX-20 pY-10">Aprovações pendentes</h4>
                <app-highcharts-custom-component [data]="data" [type]="'column'" [chartHeight]="'300'"></app-highcharts-custom-component>
              </div>
            </div>


            <div class="form-group col-md-8">
              <div class="card  p-10">
                <div class="peers jc-sb">
                  <h4 class="m-0 pX-20">Aprovações pendentes</h4>
                  <button class="btn btn-outline-success peers ai-c m-5 bdrs-2 cur-p" type="button">
                    <i class="material-icons"> reply </i>
                  </button>
                </div>

                <div class="mY-30 form-row">
                  <mat-accordion class="w-100p">
                    <mat-expansion-panel *ngFor="let bill of billings">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{bill.month}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <div class="value" [ngClass]="bill.status ==='AB' ? 'c-red-500' : 'c-green-500'">
                            {{bill.value}}
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>{{bill.details}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="col-md-12 mB-30">
                <div style="display: flex; flex-flow:row; width: 100%">
                  <div class="" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="mB-10" style="height: 100%; display: flex; flex-flow: row; justify-content: space-between;">
                      <div class="bgc-blue-a700 bdc-blue-900 w-100p p-20 mR-10 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                      <div class="bgc-amber-a700 bdc-amber-900 w-100p p-20 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                    </div>
                    <div class="mB-10" style="height: 100%; display: flex; flex-flow: row; justify-content: space-between;">
                      <div class="bgc-orange-a700 bdc-orange-900 w-100p p-20 c mR-10 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                      <div class="bgc-green-a700 bdc-green-900 w-100p p-20 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                    </div>
                    <div style="height: 100%; display: flex; flex-flow: row; justify-content: space-between;">
                      <div class="bgc-cyan-a700 bdc-cyan-900 w-100p mR-10  p-20 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                      <div class="bgc-purple-a700 bdc-purple-900 w-100p p-20 card" style="display: flex; justify-content: center;">
                        <h1 class="c-white m-0"><b>100</b></h1>
                        <span class="c-white">Best Performance</span>
                        <i class="fa fa-envelope fsz-lg c-white pos-a t-20 r-20"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>